<%= content_for(:title) { @transformation.name_in_database } %>

<%= render 'shared/breadcrumb_nav' %>

<h1 class='float-start mb-4'><%= @transformation.name %></h1>

<div class="float-end">
  <%= link_to 'Edit transformation', edit_content_partner_transformation_path(@content_partner, @transformation), class: 'me-1 btn btn-outline-primary' %>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
</div>

<div class="clearfix"></div>

<div id="js-transformation-app" data-props="<%= @props %>"></div>

<%# Modal %>
<%= render layout: 'shared/delete-modal', locals: { path: content_partner_transformation_path(@content_partner, @transformation) } do %>
  Are you sure you want to delete "<%= @transformation.name %>"?
<% end %>
