<%= content_for(:title) { @transformation.name_in_database } %>

<%= render 'shared/breadcrumb_nav' %>

<h1 class='float-start mb-4'><%= @transformation.name %></h1>

<div class="float-end">
  <%= link_to 'Edit transformation', edit_content_partner_transformation_path(@content_partner, @transformation), class: 'me-1 btn btn-outline-primary' %>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col align-self-start">
    <div class="record-view record-view--transformation">
      <div id="raw-data-record-viewer" data-record="<%= @raw_data.to_json %>"></div>
    </div>
  </div>
  <div class="col align-self-center">
    <div class="record-view record-view--transformation">
      <div id="transformation-record-viewer" data-record="<%= @transformation_preview.to_json %>"></div>
    </div>
  </div>
</div>

<div id="js-record-selector-result"></div>

<%# Modal %>
<%= render layout: 'shared/delete-modal', locals: { path: content_partner_transformation_path(@content_partner, @transformation) } do %>
  Are you sure you want to delete "<%= @transformation.name %>"?
<% end %>


