<% id ||= 'create-modal' %>
<% modal_heading ||= 'Create extraction definition' %>
<% modal_subheading ||= '' %>
<% model ||= ExtractionDefinition.new %>
<% confirmation_button_text ||= 'Create enrichment extraction' %>

<%= tag.div(
      class: 'modal fade',
      id:,
      tabindex: '-1',
      'aria-labelledby': 'Create',
      'aria-hidden': 'true'
    ) do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header--with-subheader">
        <h5 class="modal-title" id="create-modal-label"><%= modal_heading %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='modal-subheader'>
        <p><%= modal_subheading %></p>
      </div>
      <div class="modal-body">
        <%= vertical_form_with model: [@pipeline, enrichment_definition, model], id: 'js-extraction-definition-form' do |form| %>
          <div class='row gy-3 align-items-center'>

            <%= form.hidden_field :kind, value: 'enrichment' %>
            <%= form.hidden_field :pipeline_id, value: @pipeline.id %>

            <%= form.hidden_field :page, value: 1 %>
            <%= form.hidden_field :per_page, value: 20 %>
            <%= form.hidden_field :total_selector, value: '$.meta.total_pages' %>

            <% if model.persisted? %>
              <div class="col-4">
                <%= form.label :name, 'Name', class: 'form-label' %>
              </div>
              <div class="col-8">
                <%= form.text_field :name, class: 'form-control' %>
              </div>
            <% end %>

            <div class="col-4">
              <%= form.label :format, class: 'form-label' do %>
                Source Format
                <span
                  data-bs-toggle="tooltip"
                  data-bs-title="Placeholder"><i class="bi bi-question-circle" aria-label="helper text"></i>
              <% end %>
            </div>
            <div class="col-8">
              <% options = find_options_from_validations(ExtractionDefinition, :format) %>
              <%= form.select :format, options, {}, class: 'form-select' %>
            </div>

            <div class="col-4">
              <%= form.label :throttle, 'Throttle', class: 'form-label' %>
            </div>
            <div class='col-8'>
              <%= form.number_field :throttle, class: 'form-control' %>
            </div>

            <div class="col-4">
              <%= form.label :destination_id, 'Preview Target', class: 'form-label' %>
            </div>

            <div class='col-8'>
              <%= form.select :destination_id, options_from_collection_for_select(@destinations, 'id', 'name'), {},
                              class: 'form-select' %>
            </div>

            <div class="col-4">
              <%= form.label :source_id, 'Preview source ID', class: 'form-label' %>
            </div>
            <div class='col-6'>
              <%= form.text_field :source_id, class: 'form-control' %>
            </div>

            <div class='col-2'>
              <button type="button" class="btn btn-primary" id="js-test-record-extraction-button">
                Test
              </button>
            </div>

            <div class='record-view record-view--record-selector-result mt-4'>
              <div id="js-record-extraction-result"></div>
            </div>
          </div>

          <div class='float-end mt-4'>
            <button type="button" class="btn btn-outline-danger me-2" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            <button type="submit" class="btn btn-primary"><%= confirmation_button_text %></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
