<% id ||= 'create-modal' %>
<% modal_heading ||= 'Create extraction definition' %>
<% modal_subheading ||= '' %>
<% model ||= ExtractionDefinition.new %>
<% confirmation_button_text ||= 'Create harvest extraction' %>

<%= tag.div(
      class: 'modal fade',
      id:,
      tabindex: '-1',
      'aria-labelledby': 'Create',
      'aria-hidden': 'true'
    ) do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header--with-subheader">
        <h5 class="modal-title" id="create-modal-label"><%= modal_heading %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='modal-subheader'>
        <p><%= modal_subheading %></p>
      </div>
      <div class="modal-body">
        <%= vertical_form_with model: [@pipeline, @harvest_definition, model] do |form| %>
          <div class='row gy-3 align-items-center'>

            <%= form.hidden_field :kind, value: 'harvest' %>
            <%= form.hidden_field :pipeline_id, value: @pipeline.id %>

            <% if model.persisted? %>
              <div class="col-4">
                <%= form.label :name, 'Name', class: 'form-label' %>
              </div>
              <div class="col-8">
                <%= form.text_field :name, class: 'form-control' %>
              </div>
            <% end %>

            <div class="col-4">
              <%= form.label :base_url, class: 'form-label' do %>
                Base URL

                <span
                    data-bs-toggle="tooltip"
                    data-bs-title="The URL which you wish to extract your data from"><i class="bi bi-question-circle" aria-label="helper text"></i>
                </span>
              <% end %>
            </div>

            <div class='col-8'>
              <%= form.text_field :base_url,
                                  class: {
                                    'form-control': true,
                                    'is-invalid': @harvest_definition.errors[:base_url].any?
                                  }, required: true %>
            </div>

            <div class="col-4">
              <%= form.label :format, class: 'form-label' do %>
                Format
                <span
                  data-bs-toggle="tooltip"
                  data-bs-title="The format of the source which you are extracting data from"><i class="bi bi-question-circle" aria-label="helper text"></i>
              <% end %>
            </div>
            <div class="col-8">
              <% options = find_options_from_validations(ExtractionDefinition, :format) %>
              <%= form.select :format, options, {}, class: 'form-select', id: 'js-extraction-definition-format' %>
            </div>

            <div class="col-4">
              <%= form.label :throttle, class: 'form-label' do %>
                Throttle

                <span
                    data-bs-toggle="tooltip"
                    data-bs-title="The delay in milliseconds between requests made during the extraction. This is done to reduce the stress on a content source."><i class="bi bi-question-circle" aria-label="helper text"></i>
                </span>
              <% end %>
            </div>
            <div class="col-8">
              <%= form.number_field :throttle, class: 'form-control', required: true, value: 1000 %>
            </div>

            <div class="col-4">
              <%= form.label :paginated, class: 'form-label' do %>
                Paginated

                <span
                  data-bs-toggle="tooltip"
                  data-bs-title="If the source you are extracting data from returns results across multiple pages."><i class="bi bi-question-circle" aria-label="helper text"></i>
                </span>
              <% end %>
            </div>
            <div class="col-8">
              <%= form.select :paginated, options_for_select(
                    [['Paginated', 'true'], ['Not Paginated', 'false']], model.paginated
                  ), {}, class: 'form-select' %>
            </div>
            
            <div class="col-4">
              <%= form.label :extract_text_from_file, class: 'form-label' do %>
                Extract text from file

                <span
                    data-bs-toggle="tooltip"
                    data-bs-title="If the source document is a file (PDF, Word doc) you can extract the text and convert it into a JSON format that can be used in a Transformation."><i class="bi bi-question-circle" aria-label="helper text"></i>
                </span>
              <% end %>
            </div>

            <div class="col-8">
              <%= form.select :extract_text_from_file, options_for_select(
                    [%w[No false], %w[Yes true]], model.extract_text_from_file
                  ), {}, class: 'form-select' %>
            </div>

            <div class="col-4 js-split d-none js-extraction-definition-split-dropdown-container">
              <%= form.label :split, class: 'form-label' do %>
                Split

                <span
                    data-bs-toggle="tooltip"
                    data-bs-title="If this is a large file (more than 10MB) you can split it into multiple files of 100 records each so that it is easier to work with. Note that this feature is only currently available for the XML format."><i class="bi bi-question-circle" aria-label="helper text"></i>
                </span>
              <% end %>
            </div>

            <div class="col-8 js-split d-none js-extraction-definition-split-dropdown-container">
              <%= form.select :split, options_for_select(
                    [%w[No false], %w[Yes true]], model.split
                  ), {}, class: 'form-select', id: 'js-extraction-definition-split-dropdown' %>
            </div>

            <div class="col-4 js-split d-none js-extraction-definition-split-selector-container">
              <%= form.label :split_selector, class: 'form-label' do %>
                Split Selector

                <span
                    data-bs-toggle="tooltip"
                    data-bs-title="This selector is applied to the extracted file to determine how to split records"><i class="bi bi-question-circle" aria-label="helper text"></i>
                </span>
              <% end %>
            </div>

            <div class='col-8 js-split d-none js-extraction-definition-split-selector-container'>
              <%= form.text_field :split_selector,
                                  id: 'js-extraction-definition-split-selector',
                                  class: {
                                    'form-control': true,
                                    'is-invalid': @harvest_definition.errors[:split_selector].any?
                                  } %>
            </div>

          </div>

          <div class='float-end mt-4'>
            <button type="button" class="btn btn-outline-danger me-2" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            <button type="submit" class="btn btn-primary"><%= confirmation_button_text %></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
