<% id ||= 'create-modal' %>
<% modal_heading ||= 'Create extraction definition' %>
<% modal_subheading ||= '' %>
<% model ||= ExtractionDefinition.new %>
<% confirmation_button_text ||= 'Create enrichment extraction' %>

<%= tag.div(
      class: 'modal fade',
      id:,
      tabindex: '-1',
      'aria-labelledby': 'Create',
      'aria-hidden': 'true'
    ) do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header--with-subheader">
        <h5 class="modal-title" id="create-modal-label"><%= modal_heading %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class='modal-subheader'>
        <p><%= modal_subheading %></p>
      </div>
      <div class="modal-body">
        <%= vertical_form_with model: [@pipeline, enrichment_definition, model], id: 'js-extraction-definition-form' do |form| %>
          <div class='row gy-3 align-items-center'>

            <%= form.hidden_field :kind, value: 'enrichment' %>
            <%= form.hidden_field :pipeline_id, value: @pipeline.id %>

            <%= form.hidden_field :page, value: 1 %>
            <%= form.hidden_field :per_page, value: 20 %>
            <%= form.hidden_field :total_selector, value: '$.meta.total_pages' %>
            <%= form.hidden_field :source_id, value: @pipeline.harvest.source_id %>

            <% if model.persisted? %>
              <div class="col-4">
                <%= form.label :name, 'Name', class: 'form-label' %>
              </div>
              <div class="col-8">
                <%= form.text_field :name, class: 'form-control' %>
              </div>
            <% end %>

            <div class="col-4">
              <%= form.label :base_url, class: 'form-label' do %>
                Base URL

                <span
                    data-bs-toggle="tooltip"
                    data-bs-title="The URL which you wish to extract your data from"><i class="bi bi-question-circle" aria-label="helper text"></i>
                </span>
              <% end %>
            </div>

            <div class='col-8'>
              <%= form.text_field :base_url,
                                  class: {
                                    'form-control': true
                                  }, required: true %>
            </div>

            <div class="col-4">
              <%= form.label :format, class: 'form-label' do %>
                Enrichment source format
                <span
                  data-bs-toggle="tooltip"
                  data-bs-title="The format of data you are enriching your records with"><i class="bi bi-question-circle" aria-label="helper text"></i>
                </span>
              <% end %>
            </div>
            <div class="col-8">
              <% options = find_options_from_validations(ExtractionDefinition, :format) %>
              <%= form.select :format, options, {}, class: 'form-select' %>
            </div>

            <div class="col-4">
              <%= form.label :format, class: 'form-label' do %>
                Fragment Source ID
                <span
                  data-bs-toggle="tooltip"
                  data-bs-title="The Source ID of the fragment that contains the complete URL to use for the enrichment. Note that if you put a value in this field query and slug of the request will be ignored."></i>
                </span>
              <% end %>
            </div>
            <div class="col-8">
              <%= form.text_field :fragment_source_id, class: 'form-control' %>
            </div>

            <div class="col-4">
              <%= form.label :format, class: 'form-label' do %>
                Fragment Key
                <span
                  data-bs-toggle="tooltip"
                  data-bs-title="The key of the fragment that contains the complete URL to use for the enrichment."></i>
                </span>
              <% end %>
            </div>
            <div class="col-8">
              <%= form.text_field :fragment_key, class: 'form-control' %>
            </div>

            <div class="col-4">
              <%= form.label :destination_id, class: 'form-label' do %>
              Preview harvested records from
              <span
                  data-bs-toggle="tooltip"
                  data-bs-title="The location of the harvested records you wish to use in your preview when building your enrichment transformation"><i class="bi bi-question-circle" aria-label="helper text"></i>
              </span>
              <% end %>
            </div>

            <div class='col-8'>
              <%= form.select(:destination_id,
                              options_from_collection_for_select(
                                @destinations, 'id', 'name', @extraction_definition&.destination&.id
                              ),
                              {}, class: 'form-select') %>
            </div>

                        <div class="col-4">
              <%= form.label :extract_text_from_file, class: 'form-label' do %>
                Extract text from file

                <span
                    data-bs-toggle="tooltip"
                    data-bs-title="If the source document is a file (PDF, Word doc) you can extract the text and convert it into a JSON format that can be used in a Transformation."><i class="bi bi-question-circle" aria-label="helper text"></i>
                </span>
              <% end %>
            </div>

            <div class="col-8">
              <%= form.select :extract_text_from_file, options_for_select(
                    [%w[No false], %w[Yes true]], model.extract_text_from_file
                  ), {}, class: 'form-select' %>
            </div>
          </div>

          <div class='float-end mt-4'>
            <button type="button" class="btn btn-outline-danger me-2" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            <button type="submit" class="btn btn-primary"><%= confirmation_button_text %></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
