<%= vertical_form_with model: [@content_partner, @extraction_definition], class: { row: true } do |form| %>
  <%= form.hidden_field :content_partner_id, value: @content_partner.id %>
  <%= form.hidden_field :kind,               value: 'enrichment' %>
  
  <div class="mb-3 col-12">
    <%= form.label :name, 'Name', class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  
  <div class="mb-3 col-12">
    <%= form.label :destination_id, 'API Source', class: "form-label" %>
    <%= form.select :destination_id, options_from_collection_for_select(@destinations, 'id', 'name'), {},  class: "form-select" %>
  </div>

  <div class="mb-3 col-12">
    <%= form.label :source_id, 'Source ID', class: "form-label" %>
    <%= form.text_field :source_id, class: "form-control" %>
  </div>
  
  <div class="mb-3 col-12">
    <%= form.label :enrichment_url, 'Enrichment URL', class: "form-label" %>
    <%= form.hidden_field :enrichment_url, class: "form-control", id: 'js-enrichment-url' %>
    <div id="js-enrichment-editor"></div>
  </div>
  
  <%= form.hidden_field :page, value: 1 %>
  <%= form.hidden_field :per_page, value: 20 %>
  <%= form.hidden_field :total_selector, value: '$.meta.total_pages' %>

  <div class="mb-3 col-12">
    <%= form.label :throttle, 'Enrichment Throttle (in ms)', class: "form-label" %>
    <%= form.number_field :throttle, class: "form-control" %>
  </div>
  
  <div class="col-12">
    <button type="button" class="btn btn-secondary me-1" id="js-test-record-extraction">
      Test Record Extraction
    </button>
    
    <button type="button" class="btn btn-secondary me-1" id="js-test-enrichment-extraction">
      Test Enrichment Extraction
    </button>

    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </div>
<% end %>

<div id="js-record-extraction-result"></div>
<div id="js-enrichment-extraction-result"></div>
