<%= vertical_form_with model: [@content_source, @extraction_definition], class: { row: true } do |form| %>
  <%= form.hidden_field :content_source_id, value: @content_source.id %>

  <% if @extraction_definition.name.present? %>
    <div class="mb-3 col-12">
      <%= form.label :name, 'Name', class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  <% end %>

  <h2>Common settings</h2>

  <div class="mb-3 col-auto">
    <%= form.label :format, class: "form-label" do %>
      Format
      <span
        data-bs-toggle="tooltip"
        data-bs-title="The format the API returns"
      ><i class="bi bi-question-circle" aria-label="helper text"></i>
    <% end %>
    <% options = find_options_from_validations(ExtractionDefinition, :format) %>
    <%= form.select :format, options, {}, class: "form-select" %>
  </div>

  <div class="mb-3 col">
    <%= form.label :base_url, 'Base URL', class: "form-label" %>
    <%= form.text_field :base_url, class: "form-control" %>
  </div>

  <div class="mb-3 col-auto">
    <%= form.label :throttle, 'Throttle (in ms)', class: "form-label" %>
    <%= form.number_field :throttle, class: "form-control" %>
  </div>

  <h2>Pagination settings</h2>

  <div class="mb-3 col-12">
    <%= form.label :pagination_type, 'Type', class: "form-label" %>
    <% options = find_options_from_validations(ExtractionDefinition, :pagination_type) %>
    <%= form.select :pagination_type, options, {}, class: "form-select" %>
  </div>

  <div class="mb-3 col-6">
    <%= form.label :page_parameter, class: "form-label" do %>
      Page parameter
      <span
        data-bs-toggle="tooltip"
        data-bs-title="This parameter will be appended to the base_url for selecting the page. It will be incremented until the extraction reaches the limit."
      ><i class="bi bi-question-circle" aria-label="helper text"></i>
    <% end %>
    <%= form.text_field :page_parameter, class: "form-control" %>
  </div>

  <div class="mb-3 col-6">
    <%= form.label :page, class: "form-label" do %>
      Page
      <span
        data-bs-toggle="tooltip"
        data-bs-title="First page which being requested"
      ><i class="bi bi-question-circle" aria-label="helper text"></i>
    <% end %>
    <%= form.number_field :page, class: "form-control" %>
  </div>

  <div class="mb-3 col-6">
    <%= form.label :per_page_parameter, class: "form-label" do %>
      Per page parameter
      <span
        data-bs-toggle="tooltip"
        data-bs-title="This parameter will be appended to the base_url"
      ><i class="bi bi-question-circle" aria-label="helper text"></i>
    <% end %>
    <%= form.text_field :per_page_parameter, class: "form-control" %>
  </div>

  <div class="mb-3 col-6">
    <%= form.label :per_page, 'Per page', class: "form-label" %>
    <%= form.number_field :per_page, class: "form-control" %>
  </div>

  <div class="mb-3 col-12">
    <%= form.label :total_selector, class: "form-label" do %>
      Total selector
      <span
        data-bs-toggle="tooltip"
        data-bs-title="Used to calculate the number of pages to extract"
      ><i class="bi bi-question-circle" aria-label="helper text"></i>
    <% end %>
    <%= form.text_field :total_selector, class: "form-control" %>
  </div>



  <div class="col-12">
    <button type="button" class="btn btn-secondary me-1" id="js-test-extraction">
      Test
    </button>
    <button type="submit" class="btn btn-primary">
      Save
    </button>

  </div>
  <% end %>

<div id="test-result"></div>
