<%= content_for(:title) { "New Extraction Definition" } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title">New <%= @extraction_definition.kind %> extraction</h1>

  <div class="clearfix">
<% end %>

<%= render "#{@extraction_definition.kind}_form" %>
