<%= content_for(:title) { "New Extraction Definition" } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title float-start">New <%= @extraction_definition.kind %> extraction</h1>

  <div class="float-end">

    <% if @extraction_definition.enrichment? %>
      <button type="button" class="btn btn-outline-primary me-1" id="js-test-record-extraction-button">
        Test Record Extraction
      </button>
    
      <button type="button" class="btn btn-outline-primary me-1" id="js-test-enrichment-extraction-button">
        Test Enrichment Extraction
      </button>
    <% end %>
    
    <button type="submit" class="btn btn-primary" data-form="js-extraction-definition-form">
      Create
    </button>

    <%= link_to 'Cancel', pipeline_path(@pipeline), class: 'btn btn-outline-danger' %>
  </div>

  <div class="clearfix"></div>
<% end %>

<%= render "#{@extraction_definition.kind}_form" %>
