<%= content_for(:title) { @extraction_definition.name_in_database } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class='header__title'><%= @extraction_definition.name %></h1>

  <div class="header__actions">
    <span id="react-header-actions"></span>

    <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#update-extraction-definition-modal">
      <i class="bi bi bi-sliders2" aria-hidden="true"></i> Settings
    </button>

    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
      <i class="bi bi-trash" aria-hidden="true"></i> Delete
    </button>
  </div>

  <div class="clearfix"></div>

  <span id='react-nav-tabs'></span>
<% end %>

<div id="js-extraction-app" data-props="<%= @props %>"></div>

<% if @harvest_definition.harvest? %>
  <%= render 'create_edit_harvest_modal',
             id: 'update-extraction-definition-modal',
             model: @extraction_definition,
             modal_heading: 'Edit extraction definition',
             modal_subheading: 'Define the settings for your extraction definition',
             confirmation_button_text: 'Update extraction definition' %>
<% else %>
  <%= render 'create_edit_enrichment_modal',
             id: 'update-extraction-definition-modal',
             model: @extraction_definition,
             enrichment_definition: @harvest_definition,
             modal_heading: 'Edit extraction definition',
             modal_subheading: 'Define the settings for your extraction definition',
             confirmation_button_text: 'Update extraction definition' %>
<% end %>

<%= render layout: 'shared/delete_modal',
           locals: { path: pipeline_harvest_definition_extraction_definition_path(@pipeline, @harvest_definition,
                                                                                  @extraction_definition) } do %>
  <p>
    Are you sure you want to delete "<%= @extraction_definition.name %>"?
  </p>

  <p>
    This will also delete the extracted data associated with it.
  </p>
<% end %>
