<%= render 'shared/breadcrumb_nav' %>

<h1 class='float-start'><%= @extraction_definition.name %></h1>

<div class="float-end">
  <%= button_to 'Run full job', content_partner_extraction_definition_jobs_path(@content_partner, @extraction_definition), class: 'btn btn-primary', form_class: 'd-inline' %>
  <%= link_to 'Edit definition', edit_content_partner_extraction_definition_path(@content_partner, @extraction_definition), class: 'me-1 btn btn-outline-primary' %>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
</div>

<div class="clearfix"></div>

<%= render partial: 'jobs/jobs', locals: { jobs: @jobs } %>

<%# Modal %>
<%= render layout: 'shared/delete-modal', locals: { path: content_partner_extraction_definition_path(@content_partner, @extraction_definition) } do %>
  Are you sure you want to delete "<%= @extraction_definition.name %>"?
<% end %>
