<%= content_for(:title) { @extraction_definition.name_in_database } %>

<%= render 'shared/breadcrumb_nav' %>

<h1 class='float-start'><%= @extraction_definition.name %></h1>

<div class="float-end">
  <%= button_to 'Run full job', content_partner_extraction_definition_extraction_jobs_path(@content_partner, @extraction_definition, kind: 'full'), class: 'btn btn-primary', form_class: 'd-inline me-1' %>
  <%= button_to 'Run sample', content_partner_extraction_definition_extraction_jobs_path(@content_partner, @extraction_definition, kind: 'sample'), class: 'btn btn-primary', form_class: 'd-inline me-1' %>
  <%= link_to 'Edit definition', edit_content_partner_extraction_definition_path(@content_partner, @extraction_definition), class: 'me-1 btn btn-outline-primary' %>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
</div>

<div class="clearfix"></div>

<div class="my-3">
  <%= link_to 'All', content_partner_extraction_definition_path(@content_partner, @extraction_definition), class: "btn btn#{@status.nil? ? '' : '-outline'}-primary" %>
  <% ExtractionJob::STATUSES.each do |status| %>
    <%= link_to status.capitalize, content_partner_extraction_definition_path(@content_partner, @extraction_definition, status: status), class: "btn btn#{@status == status ? '' : '-outline'}-primary" %>
  <% end %>
</div>

<%= render partial: 'jobs/jobs', locals: { jobs: @extraction_jobs, type: 'extraction', content_partner: @content_partner, definition: @extraction_definition } %>

<%# Modal %>
<%= render layout: 'shared/delete-modal', locals: { path: content_partner_extraction_definition_path(@content_partner, @extraction_definition) } do %>
  Are you sure you want to delete "<%= @extraction_definition.name %>"?
<% end %>
