<%= render 'shared/breadcrumb_nav' %>

<h1 class='float-start'><%= @extraction_definition.name %></h1>

<div class="float-end">
  <%= button_to 'Run full job', content_partner_extraction_definition_jobs_path(@content_partner, @extraction_definition), class: 'btn btn-primary', form_class: 'd-inline' %>
  <%= link_to 'Edit definition', edit_content_partner_extraction_definition_path(@content_partner, @extraction_definition), class: 'me-1 btn btn-outline-primary' %>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
</div>

<div class="clearfix"></div>

<%= render partial: 'jobs/jobs', locals: { jobs: @jobs } %>

<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="Delete extraction definition" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete it</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete "<%= @extraction_definition.name %>"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= button_to("Delete", content_partner_extraction_definition_path(@content_partner, @extraction_definition), method: :delete, class: "btn btn-danger") %>
      </div>
    </div>
  </div>
</div>
