<%= content_for(:title) { @extraction_definition.name_in_database } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class='float-start'><%= @extraction_definition.name %></h1>

  <div class="float-end">
    <%= button_to 'Run full job', content_source_extraction_definition_extraction_jobs_path(@content_source, @extraction_definition, kind: :full), class: 'btn btn-primary', form_class: 'd-inline me-1' %>
    <%= button_to 'Run sample', content_source_extraction_definition_extraction_jobs_path(@content_source, @extraction_definition, kind: :sample), class: 'btn btn-primary', form_class: 'd-inline me-1' %>
    <%= link_to 'Edit definition', edit_content_source_extraction_definition_path(@content_source, @extraction_definition), class: 'me-1 btn btn-outline-primary' %>

    <% if @related_harvest_definitions&.any? %>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#update-harvest-definition-modal">Update harvest definitions</button>
    <% end %>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
  </div>

  <div class="clearfix"></div>

  <ul class="nav nav-tabs mt-4">
    <li class='nav-item'>
      <%= link_to content_source_extraction_definition_path(@content_source, @extraction_definition), class: class_names("nav-link", active: @status.nil?) do %>
        All (<%= @extraction_definition.extraction_jobs.count %>)
      <% end %>
    </li>

    <% ExtractionJob::STATUSES.each do |status| %>
      <li class='nav-item'>
        <%= link_to content_source_extraction_definition_path(@content_source, @extraction_definition, status: status), class: class_names("nav-link", active: @status == status) do %>
          <%= status.capitalize %> (<%= @extraction_definition.extraction_jobs.where(status: status).count %>)
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'jobs/jobs', locals: { jobs: @extraction_jobs, type: 'extraction' } %>

<%# Modal %>
<%= render layout: 'shared/delete-modal', locals: { path: content_source_extraction_definition_path(@content_source, @extraction_definition) } do %>
  Are you sure you want to delete "<%= @extraction_definition.name %>"?
<% end %>


<% path = update_harvest_definitions_content_source_extraction_definition_path(@content_source, @extraction_definition) %>
<%= render layout: 'shared/update-harvest-definition-modal', locals: { path: path } do %>
  This extraction is used by these harvest:
  <ul>
    <% @related_harvest_definitions.each do |harvest_definition| %>
      <li><%= harvest_definition.name %></li>
    <% end %>
  </ul>
<% end %>
