<%= vertical_form_with model: [@content_partner, @harvest_definition], class: { row: true } do |form| %>
  <%= form.hidden_field :content_partner_id, value: @content_partner.id %>

  <div class="mb-3 col-12">
    <%= form.label :extraction_definition_id, 'Extraction Definition', class: "form-label" %>
    <%= form.select :extraction_definition_id, options_from_collection_for_select(@content_partner.extraction_definitions.originals, 'id', 'name'), {},  class: "form-select" %>
  </div>

  <div class="mb-3 col-12">
    <%= form.label :transformation_definition_id, 'Transformation Definition', class: "form-label" %>
    <%= form.select :transformation_definition_id, options_from_collection_for_select(@content_partner.transformation_definitions.originals, 'id', 'name'), {},  class: "form-select" %>
  </div>

  <div class="mb-3 col-12">
    <%= form.label :destination_id, 'Destination', class: "form-label" %>
    <%= form.select :destination_id, options_from_collection_for_select(@destinations, 'id', 'name'), {},  class: "form-select" %>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </div>
<% end %>
