<%= content_for(:title) { "Editing #{@harvest_definition.name_in_database}" } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class='float-start'><%= @harvest_definition.name_in_database %></h1>

  <div class="float-end">
    <button type="submit" class="btn btn-primary" id="js-harvest-definition-form-submit">
      Update <%= @harvest_definition.kind %> 
    </button>

    <%= link_to 'Cancel', content_source_harvest_definition_path(@content_source, @harvest_definition), class: 'btn btn-outline-danger' %>
  </div>

  <div class='clearfix'></div>
<% end %>

<%= render 'form' %>


