<%= content_for(:title) { 'New Harvest Definition' } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1>Add New <%= @harvest_definition.kind.capitalize %></h1>
<% end %>

<%= render 'form' %>
