<%= content_for(:title) { @harvest_definition.name_in_database } %>

<%= render 'shared/breadcrumb_nav' %>

<h1 class='float-start'><%= @harvest_definition.name %></h1>

<div class="float-end">
  <%= button_to 'Run harvest', content_partner_harvest_definition_harvest_jobs_path(@content_partner, @harvest_definition), class: 'btn btn-primary', form_class: 'd-inline me-1' %>
  <%= link_to 'Edit Harvest Definition', edit_content_partner_harvest_definition_path(@content_partner, @harvest_definition), class: 'me-1 btn btn-outline-primary' %>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
</div>

<div class="clearfix"></div>

<%# Modal %>

<%= render layout: 'shared/delete-modal', locals: { path: content_partner_harvest_definition_path(@content_partner, @harvest_definition) } do %>
  Are you sure you want to delete "<%= @harvest_definition.name %>"?
<% end %>

<div class="my-3">
  <%= link_to 'All', content_partner_harvest_definition_path(@content_partner, @harvest_definition), class: "btn btn#{@status.nil? ? '' : '-outline'}-primary" %>
  <% HarvestJob::STATUSES.each do |status| %>
    <%= link_to status.capitalize, content_partner_harvest_definition_path(@content_partner, @harvest_definition, status: status), class: "btn btn#{@status == status ? '' : '-outline'}-primary" %>
  <% end %>
</div>

<%= render partial: 'jobs/jobs', locals: { jobs: @harvest_jobs, type: 'harvest', content_partner: @content_partner, definition: @harvest_definition  } %>



