<%= content_for(:title) { "Editing #{@content_source.name_in_database}" } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title float-start"><%= @content_source.name_in_database %></h1>

  <div class="float-end">
    <button type="submit" class="btn btn-primary" data-form="js-content-source-form">
      Update
    </button>
  </div>

  <div class="clearfix"></div>
<% end %>

<%= render 'form' %>
