<%= content_for(:title) { 'Content sources' } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="float-start">Content Sources</h1>

  <%= link_to new_content_source_path, class: 'btn btn-primary float-end' do %>
    <%= bootstrap_icon('plus') %>Add content source
  <% end %>

  <div class="clearfix"></div>
<% end %>

<%- if @content_sources.any? %>
  <div class='row'>
    <%- @content_sources.each do |content_source| %>
      <div class='col-3'>
        <%= link_to content_source, class: 'card mb-3' do %>
          <div class="card-body">
            <h5 class="card-title"><%= content_source.name %></h5>

            <% if content_source.extraction_definitions.originals.any? %>
              <span class="badge rounded-pill bg-light text-dark"><%= pluralize(content_source.extraction_definitions.originals.count, 'extraction') %></span>
            <% end %>

            <% if content_source.transformation_definitions.originals.any? %>
              <span class="badge rounded-pill bg-light text-dark"><%= pluralize(content_source.transformation_definitions.originals.count, 'transformation') %></span>
            <% end %>

            <% if content_source.harvest_definitions.harvest.any? %>
              <span class="badge rounded-pill bg-light text-dark"><%= pluralize(content_source.harvest_definitions.harvest.count, 'harvest') %></span>
            <% end %>

            <% if content_source.harvest_definitions.enrichment.any? %>
              <span class="badge rounded-pill bg-light text-dark"><%= pluralize(content_source.harvest_definitions.enrichment.count, 'enrichment') %></span>
            <% end %>

            <% if content_source.extraction_definitions.originals.empty? && content_source.transformation_definitions.originals.empty? && content_source.harvest_definitions.empty? %>
              <span class="badge rounded-pill bg-light text-dark">No definitions set</span>
            <% end %>
          </div>
        <% end %>
      </div>
    <%- end %>
  </div>

  <%= render 'shared/pagination_below_table', items: @content_sources %>
<% else %>

  <p>There are currently no content sources. Click 'Add Content Source' to create your first one.</p>

<% end %>
