<%= content_for(:title) { @content_source.name_in_database } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="float-start"><%= @content_source.name_in_database %></h1>

  <%= link_to edit_content_source_path(@content_source), class: 'btn btn-primary float-end' do %>
    <i class="bi bi-pencil-square"></i> Edit content source
  <% end %>

  <div class="clearfix"></div>

  <ul class="nav nav-tabs mt-4" role="tablist">
    <li class='nav-item'>
      <%= link_to 'Harvests', content_source_path(@content_source, kind: 'harvest'), class: class_names("nav-link", active: @kind == 'harvest') %>
    </li>

    <li class='nav-item'>
      <%= link_to 'Enrichments', content_source_path(@content_source, kind: 'enrichment'), class: class_names("nav-link", active: @kind == 'enrichment') %>
    </li>
  </ul>
<% end %>

<h4 class='mb-3'>Extractions</h4>

<div class='row'>
  <%- if @extraction_definitions.any? %>
    <%- @extraction_definitions.each do |extraction_definition| %>
      <div class='col-3'>
        <%= link_to content_source_extraction_definition_path(@content_source, extraction_definition), class: 'card mb-3' do %>
          <div class='card-body'>

            <h5 class='card-title'><%= extraction_definition.name %></h5>

            <span class="badge rounded-pill bg-light text-dark">
              <%= pluralize(extraction_definition.extraction_jobs.queued.count, 'job') %> queued
            </span>

            <span class="badge rounded-pill bg-success">
              <%= pluralize(extraction_definition.extraction_jobs.running.count, 'job') %> running
            </span>

            <span class="badge rounded-pill bg-light text-dark">
              <%= pluralize(extraction_definition.extraction_jobs.completed.count, 'job') %> completed
            </span>

            <span class="badge rounded-pill bg-light text-dark">
              <%= pluralize(extraction_definition.extraction_jobs.cancelled.count, 'job') %> cancelled
            </span>

            <span class="badge rounded-pill bg-danger">
              <%= pluralize(extraction_definition.extraction_jobs.errored.count, 'job') %> errored
            </span>

          </div>

        <% end %>
      </div>
    <%- end %>
  <% end %>

  <div class='col-3 align-self-center mb-3'>
    <div class="d-grid gap-2">
      <%= link_to new_content_source_extraction_definition_path(@content_source, kind: 'harvest'), class: 'btn btn-lg btn-outline-primary' do %>
        <%= bootstrap_icon('plus') %>Create extraction
      <% end %>
    </div>
  </div>
</div>

<h4 class='mb-3'>Transformations</h4>

<div class='row'>
  <%- if @transformation_definitions.any? %>
    <%- @transformation_definitions.each do |transformation_definition| %>
      <div class='col-3'>
        <%= link_to content_source_transformation_definition_path(@content_source, transformation_definition), class: 'card mb-3' do %>
          <div class='card-body'>

            <h5 class='card-title'><%= transformation_definition.name %></h5>

            <span class="badge rounded-pill bg-light text-dark">
              <%= pluralize(transformation_definition.fields.count, 'field') %>
            </span>

          </div>

        <% end %>
      </div>
    <%- end %>
  <% end %>

  <div class='col-3 align-self-center mb-3'>
    <div class="d-grid gap-2">
      <%= link_to new_content_source_transformation_definition_path(@content_source, kind: 'harvest'), class: 'btn btn-lg btn-outline-primary' do %>
        <%= bootstrap_icon('plus') %>Create transformation
      <% end %>
    </div>
  </div>
</div>

<h4 class='mb-3'><%= @kind.pluralize.capitalize %></h4>

<div class='row'>
  <%- if @harvest_definitions.any? %>
    <%- @harvest_definitions.each do |harvest_definition| %>
      <div class='col-3'>
        <%= link_to content_source_harvest_definition_path(@content_source, harvest_definition), class: 'card mb-3' do %>
          <div class='card-body'>

            <h5 class='card-title'><%= harvest_definition.name %></h5>

            <span class="badge rounded-pill bg-light text-dark">
              <%= pluralize(harvest_definition.harvest_jobs.queued.count, 'job') %> queued
            </span>

            <span class="badge rounded-pill bg-success">
              <%= pluralize(harvest_definition.harvest_jobs.running.count, 'job') %> running
            </span>

            <span class="badge rounded-pill bg-light text-dark">
              <%= pluralize(harvest_definition.harvest_jobs.completed.count, 'job') %> triggered successfully
            </span>

            <span class="badge rounded-pill bg-light text-dark">
              <%= pluralize(harvest_definition.harvest_jobs.cancelled.count, 'job') %> cancelled
            </span>

            <span class="badge rounded-pill bg-danger">
              <%= pluralize(harvest_definition.harvest_jobs.errored.count, 'job') %> errored
            </span>
          </div>

        <% end %>
      </div>
    <%- end %>
  <% end %>

  <div class='col-3 align-self-center mb-3'>
    <div class="d-grid gap-2">
      <%= link_to new_content_source_harvest_definition_path(@content_source, kind: @kind), class: 'btn btn-lg btn-outline-primary' do %>
        <%= bootstrap_icon('plus') %>Create <%= @kind %>
      <% end %>
    </div>
  </div>
</div>
