<%= content_for(:title) { 'Jobs' } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class='my-4'><%= @extraction_definition.name %></h1>

  <ul class="nav nav-tabs mt-4">
    <li class='nav-item'>
      <%= link_to(
            pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
              @pipeline, @harvest_definition, @extraction_definition
            ),
            class: class_names('nav-link', active: @status.nil?)
          ) do %>
        All (<%= ExtractionJob.where(extraction_definition: @extraction_definition).count %>)
      <% end %>
    </li>

    <% ExtractionJob::STATUSES.each do |status| %>
      <li class='nav-item'>
        <%= link_to(
              pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
                @pipeline, @harvest_definition, @extraction_definition, status:
              ),
              class: class_names('nav-link', active: @status == status)
            ) do %>
          <%= status.capitalize %> (<%= ExtractionJob.where(extraction_definition: @extraction_definition,
                                                            status:).count %>)
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'jobs/jobs',
           locals: { jobs: @extraction_jobs, type: 'extraction', pipeline: @pipeline,
                     harvest_definition: @harvest_definition,
                     extraction_definition: @extraction_definition } %>
