<%= content_for(:title) { "#{@extraction_definition.name} job" } %>

<%= render 'shared/breadcrumb_nav' %>

<div class="float-start">
  <h1><%= @job.extraction_definition.name %></h1>
  <strong><%= @job.updated_at.to_fs(:verbose) %></strong>
</div>

<div class="float-end">
  <% if @job.queued? || @job.running? %>
    <% cancel_path = cancel_content_partner_extraction_definition_job_path(@content_partner, @extraction_definition, @job) %>
    <%= button_to "Cancel job", cancel_path, class: "btn btn-outline-danger me-1", form_class: 'd-inline me-1' %>
  <% end %>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete results</button>
</div>

<div class="clearfix"></div>

<% path = content_partner_extraction_definition_job_path(@content_partner, @extraction_definition, @job)%>
<%= render layout: 'shared/delete-modal', locals: { path: } do %>
  <p>Are you sure you want to delete this job?</p>
  <p>It will delete all the data related to it.</p>
<% end %>

<ul class="list-group list-group-horizontal my-4">
  <li class="list-group-item">Status: <%= job_status_text(@job) %></li>

  <%- if @job.duration_seconds.present? %>
    <li class="list-group-item">Duration: <%= ActiveSupport::Duration.build(@job.duration_seconds).inspect %></li>
  <% end %>
    <li class="list-group-item">Filesize: <%= number_to_human_size(@job.extraction_folder_size_in_bytes) %></li>
    <li class="list-group-item">Records Per Page: <%= @extraction_definition.per_page %></li>
    <li class="list-group-item">Total Pages: <%= @job.documents.total_pages %></li>
    <li class="list-group-item"><span data-bs-toggle="tooltip" title="This is based on the per_page and the total_pages amount, not the extracted data.">Estimated Records: <%= @extraction_definition.per_page * @job.documents.total_pages %></span></li>
</ul>

<% if @document.blank? %>
  <% if @job.errored? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Error</h4>
      <p class="mb-0"><%= @job.error_message %></p>
    </div>
  <% elsif @job.queued? %>
    <p>The job hasn't started yet so there is no results available.</p>
  <% elsif @job.running? %>
    <p>The job is currently running. This page might not be fetched yet.</p>
  <% else %>
    <p>The extracted page could not be found.</p>
  <% end %>
<% else %>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#result-tab" type="button" role="tab" aria-controls="result-tab" aria-selected="true">
      Result
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#request-details-tab" type="button" role="tab" aria-controls="request-details-tab" aria-selected="false">
      Request details
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#response-details-tab" type="button" role="tab" aria-controls="response-details-tab" aria-selected="false">
      Response details
    </button>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="result-tab" role="tal" aria-labelledby="result-tab" tabindex="0">
      <div class="col-12 mt-3">
        <% if @job.extraction_folder_size_in_bytes > 10.megabytes %>
          <p>This file is too large to display in the browser.</p>
        <% else %>
          <div class="record-view record-view--extraction-result">
            <div id="extraction-result-viewer" data-results="<%= @document.body %>"></div>
          </div>
        <% end %>
      </div>
  </div>
  <div class="tab-pane fade" id="request-details-tab" role="tal" aria-labelledby="request-details-tab" tabindex="0">
    <ol class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">URL</div>
          <a href="<%= @document.url %>"><%= @document.url %></a>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">HTTP Method</div>
          <%= @document.method %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Params</div>
          <pre><code><%= JSON.pretty_generate(@document.params) %></code></pre>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Request Headers</div>
          <% @document.request_headers.each do |header, value| %>
              <dt class="d-inline"><%= header %></dt>
              <dd class="d-inline"><%= value %></dd>
              <br />
            <% end %>
        </div>
      </li>
    </ol>
  </div>
  <div class="tab-pane fade" id="response-details-tab" role="tal" aria-labelledby="response-details-tab" tabindex="0">
    <ol class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Status code</div>
          <%= @document.status %>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Response Headers</div>
            <% @document.response_headers.each do |header, value| %>
              <dt class="d-inline"><%= header %></dt>
              <dd class="d-inline"><%= value %></dd>
              <br />
            <% end %>
          </dl>
        </div>
      </li>
    </ol>
  </div>
</div>

<%= render 'shared/pagination_below_table', items: @documents %>

<% end %>
