<%- if jobs.any? %>
  <%- jobs.each do |job| %>
    <div class="border p-3 my-2 row justify-content-between">
      <div class="col">

        <h2 class="h4"><%= job.name %></h2>

        <p class="text-secondary mb-0">
          <%= job_status_text(job) %>
        </p>

      </div>

      <div class="col-auto">
        <% path = content_partner_extraction_definition_extraction_job_path(job.extraction_definition.content_partner, job.extraction_definition, job) %>
        <% cancel_path = cancel_content_partner_extraction_definition_extraction_job_path(job.extraction_definition.content_partner, job.extraction_definition, job) %>

        <% if job.queued? || job.running? %>
          <%= button_to "Cancel job", cancel_path, class: "btn btn-outline-danger me-1", form_class: 'd-inline' %>
        <% end %>
          <%= link_to "See results", path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  <%- end %>

  <%= render 'shared/pagination_below_table', items: jobs %>
<% else %>
  <p>There are currently no jobs.</p>
<% end %>
