<%- if jobs.any? %>
  <%- jobs.each do |job| %>
    <div class="border p-3 my-2 row justify-content-between">
      <div class="col">

        <h2 class="h4"><%= job.name %></h2>

        <p class="text-secondary mb-0">
          <%= job_status_text(job) %>
        </p>

      </div>

      <div class="col-auto">
        <% path = send("content_partner_#{type}_definition_#{type}_job_path", content_partner, definition, job) %>
        <% cancel_path = send("cancel_content_partner_#{type}_definition_#{type}_job_path", content_partner, definition, job) %>

        <% if job.queued? || job.running? %>
          <%= button_to "Cancel job", cancel_path, class: "btn btn-outline-danger me-1", form_class: 'd-inline' %>
        <% end %>
          <%= link_to "See results", path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  <%- end %>

  <%= render 'shared/pagination_below_table', items: jobs %>
<% else %>
  <p>There are currently no jobs.</p>
<% end %>
