<%- if jobs.any? %>
  <div class='row'>
    <%- jobs.each do |job| %>
      <div class='col-3'>
        <%= link_to pipeline_harvest_definition_extraction_definition_extraction_job_path(
              pipeline, harvest_definition, extraction_definition, job
            ),
                    class: 'card card--clickable mb-3' do %>
          <div class='card-body'>
            <h5 class='card-title'><%= job.name %></h5>
            <h6 class='card-subtitle'><%= job.updated_at.to_fs(:light) %></h6>

            <span class="badge bg-light text-dark">
              <%= job_status_text(job) %>
            </span>
          </div>
        <% end %>

      </div>
    <%- end %>

    <%= render 'shared/pagination_below_table', items: jobs %>
  </div>

<% else %>

  <p>There are currently no jobs.</p>

<% end %>
