<%= content_for(:title) { "Jobs" } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class='my-4'>Extraction jobs</h1>
<% end %>

<div class="my-3">
  <%= link_to 'All', extraction_jobs_path, class: "btn btn#{@status.nil? ? '' : '-outline'}-primary" %>
  <% ExtractionJob::STATUSES.each do |status| %>
    <%= link_to status.capitalize, extraction_jobs_path(status: status), class: "btn btn#{@status == status ? '' : '-outline'}-primary" %>
  <% end %>
</div>

<%= render partial: 'jobs/jobs', locals: { jobs: @extraction_jobs } %>
