<%= content_for(:title) { @pipeline.name_in_database } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <div class='float-start'>
    <h1><%= @pipeline.name %></h1>
    <p><%= @pipeline.description %></p>
  </div>
  
  <div class="float-end">
    <%= link_to "Edit", edit_pipeline_path(@pipeline), class: 'me-1 btn btn-outline-primary' %>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
  </div>

  <div class='clearfix'></div>
  
  <div class='mt-4'></div>
  <ul class="nav nav-tabs">
    <li class='nav-item'>
      <%= link_to 'Pipeline', pipeline_path(@pipeline), class: "nav-link" %>
    </li>

    <li class='nav-item'>
      <%= link_to 'Jobs', pipeline_jobs_path(@pipeline), class: "nav-link active" %>
    </li>
  </ul>
<% end %>

<%= render partial: 'jobs/jobs', locals: { jobs: @harvest_extraction_jobs, type: 'extraction', pipeline: @pipeline } %>

<%= render partial: 'jobs/jobs', locals: { jobs: @enrichment_extraction_jobs, type: 'extraction', pipeline: @pipeline } %>

