<%= content_for(:title) { 'Users' } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title">Users</h1>

  <div class="header__actions">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#invite-user"
    >
      <i class="bi bi-plus" aria-hidden="true"></i> Invite user
    </button>
  </div>

  <div class="clearfix"></div>
<% end %>

<% if @users.any? %>
  <div class="row">
    <% @users.each do |user| %>
      <div class='col-3'>
        <%= link_to user, class: 'card mb-3' do %>
          <div class="card-body">
            <h5 class="card-title"><%= user.username %></h5>
            <p><%= user.email %></p>
            <span class="<%= class_names('badge', 'rounded-pill', 'bg-light text-dark': !user.invitation_accepted_at?, 'bg-primary': user.invitation_accepted_at?) %>">
              <%= user.invitation_accepted_at? ? 'Active' : 'Invited' %>
            </span>
            <span class="<%= class_names('badge', 'rounded-pill', 'bg-primary': !user.admin?, 'bg-danger': user.admin?) %>">
              <%= user.role.capitalize %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render 'shared/pagination_below_table', items: @users %>
<% else %>
  <p>There are currently no users. Click 'Invite user' to help someone to join your work.</p>
<% end %>

<%# Modals %>

<div
  class="modal fade"
  id="invite-user"
  tabindex="-1"
  aria-labelledby="Invite user"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <%= vertical_form_with model: User.new, url: invitation_path(User), class: 'modal-content' do |form| %>
      <div class="modal-header">
        <h5 class="modal-title">Invite user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <%= form.label :username, class: "form-label" %>
          <%= form.text_field :username, required: true, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.email_field :email, required: true, class: "form-control" %>
        </div>
        <div class="mb-3 form-check">
          <% role_names = User.roles.keys %>
          <%= form.check_box :role, { class: "form-check-input" }, role_names.last, role_names.first %>
          <%= form.label :role, class: "form-check-label" do %>
            Admin
            <span
              data-bs-toggle="tooltip"
              data-bs-title="Admins can manage and invite users"
            ><i class="bi bi-question-circle" aria-label="helper text"></i>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">
          Invite
        </button>
      </div>
    <% end %>
  </div>
</div>
