<%= content_for(:title) { @user.username } %>

<%= content_for :header do %>
  <h1 class="header__title"><%= @user.username%></h1>

  <div class="header__actions">
    <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
      <i class="bi bi-pencil-square" aria-hidden="true"></i> Edit user
    <% end %>
  </div>
  <div class="clearfix"></div>
<% end %>

<ul class="list-group">
  <li class="list-group-item">
    <div class="fw-bold">Username</div>
    <%= @user.username %>
  </li>
  <li class="list-group-item">
    <div class="fw-bold">Email</div>
    <%= @user.email %>
  </li>
  <% unless @user.invitation_accepted_at? %>
    <li class="list-group-item">
      <div class="fw-bold">Invitation sent at</div>
      <%= @user.invitation_sent_at.to_fs(:light) %>
    </li>
  <% end %>
  <li class="list-group-item">
    <div class="fw-bold">Invitation accepted at</div>
    <% if @user.invitation_accepted_at? %>
      <%= @user.invitation_accepted_at.to_fs(:light) %>
    <% else %>
      Not accepted yet.
    <% end %>
  </li>
  <li class="list-group-item">
    <div class="fw-bold">Created at</div>
    <%= @user.created_at.to_fs(:light) %>
  </li>
  <li class="list-group-item">
    <div class="fw-bold">Updated at</div>
    <%= @user.updated_at.to_fs(:light) %>
  </li>
</ul>
