<%= content_for(:title) { 'Change your password' } %>

<%= content_for :header do %>
  <h1 class="header__title">Change your password</h1>

  <div class="clearfix"></div>
<% end %>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <%= vertical_form_with(model: resource, as: resource_name, url: password_path(resource_name),
                           html: { method: :put }) do |f| %>
      <div class="card">
        <div class="card-body">
          <%= f.hidden_field :reset_password_token %>

          <div class="mb-3">
            <%= f.label :password, 'New password', class: 'form-label' %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, 'Confirm new password', class: 'form-label' %>
            <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit 'Change my password', class: 'btn btn-primary' %>
          </div>

          <%= render 'devise/shared/links' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
