<%= content_for(:title) { 'New Schedule' } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title"><%= @schedule.name %></h1>

  <div class="float-end">
    <%= link_to 'Edit', edit_pipeline_schedule_path(@pipeline, @schedule), class: 'btn btn-outline-primary' %>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
  </div>

  <div class="clearfix"></div>

<% end %>

<div class='clearfix'></div>

<div class='mb-4'></div>

<div class='card'>
  <div class='card-body'>
    <h4>Schedule Settings</h4>

    <div class='row gy-3 align-items-center my-2'>
      <div class="col-3">
        <strong>Name</strong>
      </div>

      <div class='col-7'>
        <%= @schedule.name %>
      </div>
    </div>

    <div class='row gy-3 align-items-center my-2'>
      <div class="col-3">
        <strong>Frequency</strong>
      </div>

      <div class='col-7'>
        <%= @schedule.frequency.capitalize %>
      </div>
    </div>

    <div class='row gy-3 align-items-center my-2'>
      <div class="col-3">
        <strong>Time</strong>
      </div>

      <div class='col-7'>
        <%= @schedule.time %>
      </div>
    </div>

    <br />

    <h4>Run Settings</h4>

    <div class='row gy-3 align-items-center my-2'>
      <div class="col-3">
        <strong>Blocks to run</strong>
      </div>

      <div class='col-7'>
          <%- @pipeline.harvest_definitions.each do |harvest_definition| %>
          <div class='form-check'>
            <%= label_tag do %>

            <%= check_box('schedule', 'harvest_definitions_to_run', {
                            multiple: true,
                            checked: @schedule.harvest_definitions_to_run.include?(harvest_definition.id.to_s),
                            class: "form-check-input js-pipeline-#{harvest_definition.kind}-checkbox",
                            disabled: true
                          }, harvest_definition.id, nil) %>

              <%= harvest_definition.source_id %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class='row gy-3 align-items-center my-2'>
      <div class="col-3">
        <strong>Destination</strong>
      </div>

      <div class='col-7'>
        <%= @schedule.destination.name %>
      </div>
    </div>
  </div>
</div>

<%= render layout: 'shared/delete_modal',
           locals: { path: pipeline_schedule_path(@pipeline, @schedule) } do %>
  Are you sure you want to delete "<%= @schedule.name %>"?
<% end %>