<% partner_id = @content_partner&.id %>
<% extraction_id = @extraction_definition&.id %>
<% transformation_id = @transformation_definition&.id %>
<% destination_id = @destination&.id %>

<div class="my-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <%= breadcrumb_item(text: 'Home', path: root_path) %>

      <%= breadcrumb_item(
        text: 'Content Partners',
        path: content_partners_path,
        active: current_page?(content_partners_path),
        display: request.path.include?(content_partners_path)) %>

      <%= breadcrumb_item(
        text: @content_partner&.name_in_database,
        path: (content_partner_path(partner_id) rescue nil),
        active: (current_page?(content_partner_path(partner_id)) rescue false),
        display: request.path.match?(/^\/content_partners\/\d+/)) %>

      <%= breadcrumb_item(
        text: 'Destinations',
        path: destinations_path,
        active: current_page?(destinations_path),
        display: request.path.include?(destinations_path)) %>
        
      <%= breadcrumb_item(
        text: @destination&.name_in_database,
        path: (destination_path(partner_id) rescue nil),
        active: (current_page?(destination_path(partner_id)) rescue false),
        display: request.path.match?(/^\/destinations\/\d+/)) %>
        
      <%= breadcrumb_item(
        text: 'Extraction Jobs',
        path: jobs_path,
        active: current_page?(jobs_path),
        display: request.path.include?(jobs_path)) %>

      <%= breadcrumb_item(
        text: @extraction_definition&.name_in_database,
        path: (content_partner_extraction_definition_path(partner_id, extraction_id) rescue nil),
        active: current_page(:extraction_definitions, %w[show]),
        display: request.path.match?(/\/extraction_definitions\/\d+/)) %>

      <%= breadcrumb_item(
        text: @transformation_definition&.name_in_database,
        path: (content_partner_transformation_definition_path(partner_id, transformation_id) rescue nil),
        active: current_page(:transformation_definition, %w[show]),
        display: request.path.match?(/\/transformation_definitions\/\d+/)) %>

      <%= breadcrumb_item(
        text: @job&.id,
        path: (content_partner_extraction_definition_job_path(partner_id, extraction_id, @job) rescue nil),
        active: current_page(:jobs, %w[show]),
        display: request.path.match?(/\/jobs\/\d+/)) %>

      <%= breadcrumb_item(
        text: 'Edit',
        active: action_name.in?(%w[edit update]),
        display: action_name.in?(%w[edit update])) %>

      <%= breadcrumb_item(
        text: 'New',
        active: action_name.in?(%w[new create]),
        display: action_name.in?(%w[new create])) %>
    </ol>
  </nav>
</div>
