<nav class="<%= class_names('navbar navbar-expand-md', {
                              'navbar-dark bg-dark' => Rails.env.production? || Rails.env.test?,
                              'navbar-light bg-info' => Rails.env.staging? || Rails.env.development?,
                              'navbar-light bg-light border-bottom border-2' => Rails.env.uat?
                            }) %>">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <img src="<%= "/logo-#{Rails.env}.svg" %>" alt="Supplejack" height="20">
    <% end %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-nav"
      aria-controls="navbar-nav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% pipelines_classes = class_names('nav-link', active: request.path.include?('pipelines')) %>
    <% destinations_classes = class_names('nav-link', active: request.path.include?('destinations')) %>
    <% extraction_jobs_classes = class_names('nav-link', active: current_page?(extraction_jobs_path)) %>

    <div class="collapse navbar-collapse justify-content-between" id="navbar-nav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Pipelines', pipelines_path, class: pipelines_classes %>
          </li>
          <li class="nav-item">
            <%= link_to 'Destinations', destinations_path, class: destinations_classes %>
          </li>
          <li class="nav-item">
            <%= link_to 'Jobs', extraction_jobs_path, class: extraction_jobs_classes %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle" aria-hidden="true"></i> <%= current_user.username %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to 'Edit profile', edit_profile_path, class: 'dropdown-item' %></li>
              <% if current_user.admin? %>
                <li><%= link_to 'Manage users', users_path, class: 'dropdown-item' %></li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path,
                        class: { 'nav-link': true, active: current_page?(new_user_session_path) } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
