<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      Supplejack
      <%= vite_image_tag('supplejack-leaf.png') %>
    <% end %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-nav"
      aria-controls="navbar-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <% content_sources_classes = class_names('nav-link', active: request.path.include?('content_sources')) %>
    <% destinations_classes = class_names('nav-link', active: request.path.include?('destinations')) %>
    <% extraction_jobs_classes = class_names('nav-link', active: current_page?(extraction_jobs_path)) %>

    <div class="collapse navbar-collapse justify-content-between" id="navbar-nav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Content sources', content_sources_path, class: content_sources_classes %>
          </li>
          <li class="nav-item">
            <%= link_to 'Destinations', destinations_path, class: destinations_classes %>
          </li>
          <li class="nav-item">
            <%= link_to 'Jobs', extraction_jobs_path, class: extraction_jobs_classes %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle" aria-hidden="true"></i> <%= current_user.username %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit profile', edit_profile_path, class: "dropdown-item" %></li>
              <% if current_user.admin? %>
                <li><%= link_to 'Manage users', users_path, class: "dropdown-item" %></li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: { "nav-link": true, active: current_page?(new_user_session_path) } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
