<% jobs_path ||= ''
   run_sample_extraction_path ||= ''
   run_full_extraction_path ||= ''
   type = definition.class.name.gsub(/Definition$/, '').downcase
   delete_path ||= ''
   position = type == 'extraction' ? 'first' : 'last' %>

<div class="card harvest-card card--clickable h-100">
  <div class='card-body'>
    <div class="row">

      <div class="col-11">
        <h2 class="card-title">
          <%= link_to edit_path, class: 'card__link' do %>
            <%= definition.name %>
          <% end %>
        </h2>
        <h3 class="card-subtitle">
          <%= send(:"#{type}_card_subtitle", definition) %>
        </h3>

        <% if type == 'extraction' %>
          <% completed_extraction_jobs_count = ExtractionJob
                                               .where(extraction_definition_id: definition.id)
                                               .completed
                                               .count %>
          <% if completed_extraction_jobs_count.zero? %>
            <span class="badge text-bg-danger mt-2">No completed extraction</span>
          <% else %>
            <span class="badge text-bg-primary mt-2"><%= pluralize(completed_extraction_jobs_count, 'extraction') %></span>
          <% end %>
        <% end %>
        <% if type == 'transformation' %>
          <% if definition.fields.empty? %>
            <span class="badge text-bg-danger mt-2">Incomplete transformation</span>
          <% else %>
            <span class="badge text-bg-primary mt-2"><%= pluralize(definition.fields.length, 'fields') %></span>
          <% end %>
        <% end %>

        <% if definition.shared? %>
          <span class="badge text-bg-light">Shared (<%= "#{definition.harvest_definitions.count} pipelines" %>)</span>
        <% end %>
      </div>

      <div class="col-1">
        <div class="dropdown harvest-card__actions">
          <button class="btn btn-clear harvest-card__actions-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle actions dropdown">
            <i class="bi bi-three-dots-vertical" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <%= link_to edit_path, class: 'dropdown-item harvest-card__action' do %>
                <i class="bi bi-link-45deg me-2"></i><%= edit_text %>
              <% end %>
            </li>

            <% if definition.shared? %>
              <li>
                <a
                  class="dropdown-item harvest-card__action"
                  href="#"
                  data-bs-toggle='modal'
                  data-bs-target="<%= "#clone-definition-#{type}-#{definition.id}" %>">
                    <i class="bi bi-layers me-2"></i>Clone and edit new definition
                  </a>
              </li>

              <li>
                <a
                  class="dropdown-item harvest-card__action"
                  href="#"
                  data-bs-toggle='modal'
                  data-bs-target="<%= "#remove-shared-#{type}-definition-#{definition.id}" %>">
                    <i class="bi bi-trash me-2"></i>Remove shared definition
                  </a>
              </li>
            <% else %>
              <li>
                <a
                  class="dropdown-item harvest-card__action"
                  href="#"
                  data-bs-toggle='modal'
                  data-bs-target="<%= "#delete-#{type}-definition-#{definition.id}" %>">
                    <i class="bi bi-trash me-2"></i>Delete definition
                  </a>
              </li>
            <% end %>

            <% if jobs_path.present? %>
              <li>
                <%= link_to jobs_path, class: 'dropdown-item harvest-card__action' do %>
                  <i class="bi bi-eye me-2"></i> View Extraction Jobs
                <% end %>
              </li>
            <% end %>

            <% if run_sample_extraction_path.present? %>
              <li>
                <%= button_to run_sample_extraction_path, class: 'dropdown-item harvest-card__action' do %>
                  <i class="bi bi-play me-2"></i> Run Sample Extraction
                <% end %>
              </li>
            <% end %>

            <% if run_full_extraction_path.present? %>
              <li>
                <%= button_to run_full_extraction_path, class: 'dropdown-item harvest-card__action' do %>
                  <i class="bi bi-play me-2"></i> Run Full Extraction
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <% if position == 'first' %>
    <i class="bi bi-arrow-right harvest-card__right-arrow"></i>
  <% end %>
</div>

<div
  class="modal fade"
  id="<%= "remove-shared-#{type}-definition-#{definition.id}" %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove shared definition</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this shared definition?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= button_to 'Remove', pipeline_harvest_definition_path(@pipeline, block_definition),
                      params: {
                        harvest_definition: {
                          "#{type}_definition_id": nil
                        }
                      },
                      method: :patch,
                      class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>

<%= render layout: 'shared/delete_modal',
           locals: { path: delete_path, id: "delete-#{type}-definition-#{definition.id}",
                     heading_text: "Delete #{type.capitalize} definition" } do %>
  <p>Are you sure you want to delete "<%= definition.name %>"?</p>

  <% if type == 'transformation' %>
    <p>This will also delete all the fields associated with it.</p>
  <% else %>
    <p>This will also delete the extracted data associated with it.</p>
  <% end %>
<% end %>

<div
  class="modal fade"
  id="<%= "clone-definition-#{type}-#{definition.id}" %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Clone and edit new definition</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please name the new definition which you are cloning</p>

        <% clone_url = send(:"clone_pipeline_harvest_definition_#{type}_definition_path", @pipeline, block_definition,
                            definition) %>

        <%= vertical_form_with(model: definition,
                               url: clone_url, method: :post) do |f| %>

          <%= f.text_field :name, required: true, class: 'form-control', value: "[CLONE] #{definition.name}" %>

          <br>

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Clone and edit new</button>

        <% end %>
      </div>
    </div>
  </div>
</div>
