<div class="card">
  <div class='card-body'>
    <h5 class="card-title"><%= definition.send("#{type}_definition").name %></h5>

    <% if reference?(pipeline, definition.send("#{type}_definition")) %>
      <span class="badge text-bg-light">Reference</span>
    <% end %>

    <div class="btn-group card__control">
      <i class="bi bi-three-dots-vertical" data-bs-toggle='dropdown'></i>
      <ul class="dropdown-menu dropdown-menu-end">
        <% if reference?(pipeline, definition.send("#{type}_definition")) %>
          <li>
            <%= link_to edit_path, class: 'dropdown-item' do %>
              <i class="bi bi-link-45deg me-2"></i>Go to reference source
            <% end %>
          </li>
          <li><hr class="dropdown-divider"></li>
        <% else %>
          <li>
            <%= link_to edit_path, class: 'dropdown-item' do %>
              <i class="bi bi-link-45deg me-2"></i><%= edit_text %>
            <% end %>
          </li>
        <% end %>
        
        <% if reference?(pipeline, definition.send("#{type}_definition")) %>
          <li><a class="dropdown-item" href="#" data-bs-toggle='modal' data-bs-target=<%= "#remove-reference-#{definition.send("#{type}_definition").id}" %>><i class="bi bi-trash me-2"></i>Remove definition</a></li>
        <% end %>

        <% if jobs_path.present? %>
          <li>
            <%= link_to jobs_path, class: 'dropdown-item' do %>
              <i class="bi bi-link-45deg me-2"></i> View Extraction Jobs
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <i class="bi bi-arrow-right card__right-arrow"></i>
</div>

<div
  class="modal fade"
  id=<%="remove-reference-#{definition.send("#{type}_definition").id}" %>
  tabindex="-1"
  aria-labelledby="Delete"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove reference</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this reference?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= button_to 'Remove', pipeline_harvest_definition_path(@pipeline, definition),
            params: {
              harvest_definition: {
                "#{type}_definition_id": nil
              }
            },
            method: :patch,
            class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>


