<div class='card p-4 definition-group--spacer'>
  <span class='definition-group__bridge'></span>

  <div class='d-flex'>
    <div class='me-auto'>

      <%= render layout: 'shared/inline_editable_element', locals:
        {
          id: "harvest-definition-#{enrichment_definition.id}-source-id",
          model: enrichment_definition,
          attribute: :source_id,
          url: pipeline_harvest_definition_path(@pipeline, enrichment_definition)
        } do %>
        <h4><%= enrichment_definition.source_id %> </h4>
      <% end %>
    </div>

    <div>
      <button
        type="button"
        class="btn btn-outline-danger mb-4"
        data-bs-toggle="modal"
        data-bs-target="<%= "#delete-harvest-definition-#{enrichment_definition.id}" %>">
        <i class="bi bi-trash" aria-hidden="true"></i> Delete Enrichment
      </button>
    </div>

    <%= render layout: 'shared/delete_modal',
               locals: { path: pipeline_harvest_definition_path(@pipeline, enrichment_definition),
                         id: "delete-harvest-definition-#{enrichment_definition.id}",
                         heading_text: 'Delete Enrichment' } do %>
      <p>Are you sure you want to delete "<%= enrichment_definition.source_id %>"?</p>

      <% if enrichment_definition.extraction_definition.present? %>
        <p><%= definition_delete_text(enrichment_definition.extraction_definition, 'extraction') %></p>
      <% end %>

      <% if enrichment_definition.transformation_definition.present? %>
        <p><%= definition_delete_text(enrichment_definition.transformation_definition, 'transformation') %></p>
      <% end %>
    <% end %>
  </div>

  <div class='row'>
    <div class='col-6'>
      <% if enrichment_definition.extraction_definition.present? %>

      <%= render partial: 'pipelines/card',
                 locals: {
                   pipeline: @pipeline,
                   block_definition: enrichment_definition,
                   definition: enrichment_definition.extraction_definition,
                   edit_path:
           pipeline_harvest_definition_extraction_definition_path(
             @pipeline,
             enrichment_definition,
             enrichment_definition.extraction_definition
           ),
                   edit_text: definition_edit_text(enrichment_definition.extraction_definition, 'extraction'),
                   jobs_path:
           pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
             @pipeline,
             enrichment_definition,
             enrichment_definition.extraction_definition
           ),
                   run_sample_extraction_path:
           pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
             @pipeline,
             enrichment_definition,
             enrichment_definition.extraction_definition,
             kind: :sample
           ),
                   run_full_extraction_path:
           pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
             @pipeline,
             enrichment_definition,
             enrichment_definition.extraction_definition,
             kind: :full
           ),
                   delete_path:
         pipeline_harvest_definition_extraction_definition_path(
           @pipeline,
           enrichment_definition,
           enrichment_definition.extraction_definition
         )
                 } %>

      <% else %>

        <button
          type="button"
          class="harvest-card card card--create-cta d-flex h-100"
          data-bs-toggle="modal"
          data-bs-target="#add-enrichment-extraction-<%= enrichment_definition.id %>">
          <div class="card-body d-flex align-items-center justify-content-center">
            <p class='card-text'>+ Add enrichment extraction</p>
          </div>
          <i class="bi bi-arrow-right harvest-card__right-arrow"></i>
        </button>

        <%= render(
              layout: 'shared/create_modal',
              locals: {
                modal_heading: 'Add enrichment extraction',
                id: "add-enrichment-extraction-#{enrichment_definition.id}",
                modal_subheading: 'An enrichment extraction is a set of rules that ' \
                                  'define how you collect records from a content source'
              }
            ) do %>

          <div class='d-grid mt-4'>
            <input
              id="js-auto-complete-enrichment-extraction-definition-<%= enrichment_definition.id %>"
              class='js-auto-complete'
              data-src="<%= autocomplete_enrichment_extraction_definitions %>"
              data-path="<%= "/pipelines/#{@pipeline.id}/harvest_definitions/#{enrichment_definition.id}.json" %>"
              data-field="extraction_definition_id"
              data-placeholder='Start typing to use an existing definition..'
              data-key='name'>

            <div class='text-center mt-4 mb-4'>
              or
            </div>

            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#create-enrichment-extraction-definition-modal-<%= enrichment_definition.id %>">
              + Add a new extraction definition
            </button>

          </div>
        <% end %>
      <% end %>
    </div>

    <div class='col-6'>
      <% if enrichment_definition.transformation_definition.present? %>

      <%= render partial: 'pipelines/card',
                 locals: {
                   pipeline: @pipeline,
                   block_definition: enrichment_definition,
                   definition: enrichment_definition.transformation_definition,
                   edit_path:
           pipeline_harvest_definition_transformation_definition_path(
             @pipeline,
             enrichment_definition,
             enrichment_definition.transformation_definition
           ),
                   edit_text: definition_edit_text(enrichment_definition.transformation_definition,
                                                   'transformation'),
                   jobs_path: '',
                   delete_path:
                   pipeline_harvest_definition_transformation_definition_path(
                     @pipeline,
                     enrichment_definition,
                     enrichment_definition.transformation_definition
                   )
                 } %>

      <% else %>

        <% disabled = !enrichment_definition&.extraction_definition&.extraction_jobs&.any?(&:completed?) %>

        <button
          type="button"
          class="<%= class_names(
                       'card', 'mb-3', 'card--create-cta', 'd-flex', 'h-100',
                       'card--create-cta-disabled': disabled
                     ) %>"
          <% if disabled %>
            data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="You need to run the extraction before you can add a transformation"
          <% else %>
            data-bs-toggle="modal"
            data-bs-target="#add-enrichment-transformation-<%= enrichment_definition.id %>"
          <% end %>>
          <div class="card-body d-flex align-items-center justify-content-center d-flex">
            <p class="card-text">+ Add enrichment transformation</p>
          </div>
        </button>

        <%= render(
              layout: 'shared/create_modal',
              locals: {
                modal_heading: 'Add enrichment transformation',
                id: "add-enrichment-transformation-#{enrichment_definition.id}",
                modal_subheading: 'An enrichment transformation is a set of rules that defines ' \
                                  'the shape you want your enriched fragments to have'
              }
            ) do %>
          <div class='d-grid mt-4'>
            <input
              id="js-auto-complete-enrichment-transformation-definition-<%= enrichment_definition.id %>"
              class='js-auto-complete'
              data-src="<%= autocomplete_enrichment_transformation_definitions %>"
              data-placeholder='Start typing to use an existing definition..'
              data-path="<%= "/pipelines/#{@pipeline.id}/harvest_definitions/#{enrichment_definition.id}.json" %>"
              data-field="transformation_definition_id"
              data-key='name'>

            <div class='text-center mt-4 mb-4'>
              or
            </div>

            <% bs_target = "#create-enrichment-transformation-definition-modal-#{enrichment_definition.id}" %>

            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="<%= bs_target %>">
              + Add a new transformation definition
            </button>
          </div>
        <% end %>

        <% unless disabled %>
          <% extraction_jobs = enrichment_definition
                               .extraction_definition
                               .extraction_jobs
                               .completed
                               .order(created_at: :desc) %>

          <%= render 'transformation_definitions/create_edit_modal',
                     {
                       id: "create-enrichment-transformation-definition-modal-#{enrichment_definition.id}",
                       modal_heading: 'Create transformation definition',
                       harvest_definition: enrichment_definition,
                       modal_subheading: 'Define the settings for your transformation definition',
                       extraction_jobs:,
                       confirmation_button_text: 'Create enrichment transformation'
                     } %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'extraction_definitions/create_edit_enrichment_modal', locals: { enrichment_definition:, id: "create-enrichment-extraction-definition-modal-#{enrichment_definition.id}" } %>
