<%= content_for(:title) { 'Pipelines' } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title">Pipelines</h1>

  <div class="clearfix"></div>

<% end %>

  <div class="float-end">
    <ul class='list-inline'>

      <li class='list-inline-item'>
        <strong>
          Sort by:
        </strong>
      </li>

      <li class='list-inline-item'>
        <%= form_with url: '/pipelines', method: :get do |form| %>
          <%= form.select(
                :sort_by,
                [['Last Edited', 'updated_at'], ['Alphabetical', 'name']],
                { selected: @sort_by.keys.first },
                class: 'form-select', id: 'js-pipeline-sort'
              ) %>
        <% end %>
      </li>

    </ul>
  </div>

  <div class='clearfix'></div>

  <div class='mb-4'></div>

  <div class='row'>

    <div class='col-3'>
      <button type="button" class="card mb-3 card--create-cta d-flex" data-bs-toggle="modal" data-bs-target="#create-modal">
        <div class="card-body align-items-center d-flex justify-content-center">
          <h5 class="card-title">+ Create new pipeline</h5>
        </div>
      </button>
    </div>

    <%- @pipelines.each do |pipeline| %>
      <div class='col-3'>
        <%= link_to pipeline, class: 'card card--clickable mb-3 d-flex' do %>
          <div class="card-body">
            <h5 class="card-title"><%= pipeline.name %></h5>
            <h6 class="card-subtitle">
              <%= last_edited_by(pipeline) %>
            </h6>
            <div>
              <span class="badge bg-light text-dark">
                <%= pipeline.harvest_definitions.harvest.count %> Harvest
              </span>
              <span class="badge bg-light text-dark">
                <%= pipeline.harvest_definitions.enrichment.count %> Enrichments
              </span>

              <% if pipeline.schedules.any? %>
                <span class="badge bg-primary">
                  Scheduled
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <%- end %>

  </div>

<%= render 'shared/pagination_below_table', items: @pipelines %>

<%= render layout: 'shared/create_modal',
           locals: { modal_heading: 'Create new pipeline', button_text: 'Create pipeline' } do %>
  <%= vertical_form_with model: @pipeline do |form| %>

    <div class='row gy-3 align-items-center'>
      <div class="col-4">
        <%= form.label :name, 'Pipeline Name', class: 'form-label' %>
      </div>
      <div class='col-8'>
        <%= form.text_field :name, class: { 'form-control': true, 'is-invalid': @pipeline.errors[:name].any? } %>
      </div>

      <div class="col-4">
        <%= form.label :description, 'Pipeline Description', class: 'form-label' %>
      </div>
      <div class='col-8'>
        <%= form.text_area :description,
                           class: { 'form-control': true, 'is-invalid': @pipeline.errors[:description].any? } %>
      </div>
    </div>

    <div class='d-grid mt-4'>
      <button type="submit" class="btn btn-primary">Create pipeline</button>
    </div>
  <% end %>
<% end %>
