<%= content_for(:title) { @pipeline.name_in_database } %>
<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <div class='float-start'>

    <%= render layout: 'shared/inline_editable_element', locals:
      {
        id: 'pipeline-name',
        model: @pipeline,
        url: pipeline_path(@pipeline),
        attribute: :name
      } do %>
      <h1><%= @pipeline.name %></h1>
    <% end %>

    <%= render layout: 'shared/inline_editable_element', locals:
      {
        id: 'pipeline-description',
        model: @pipeline,
        url: pipeline_path(@pipeline),
        attribute: :description
      } do %>
      <% if @pipeline.description.present? %>
        <p><%= @pipeline.description %></p>
      <% else %>
        <p class='js-inline-editable-control inline-editable-element__control ' data-id='pipeline-description'>Add pipeline description</p>
      <% end %>
    <% end %>
  </div>

  <div class="float-end">
    <%= render partial: 'pipelines/run_pipeline' %>

    <%= render partial: 'pipelines/clone_pipeline' %>

    <button
      type="button"
      class="btn btn-danger ms-1"
      data-bs-toggle="modal"
      data-bs-target="#delete-modal">
      <i class="bi bi-trash" aria-hidden="true"></i> Delete
    </button>
  </div>

  <div class='clearfix'></div>

  <div class='mt-4'></div>
  <ul class="nav nav-tabs">
    <li class='nav-item'>
      <%= link_to 'Pipeline', pipeline_path(@pipeline), class: 'nav-link active' %>
    </li>

    <li class='nav-item'>
      <%= link_to "Schedules (#{@pipeline.schedules.count})", pipeline_schedules_path(@pipeline), class: 'nav-link' %>
    </li>

    <li class='nav-item'>
      <%= link_to 'Jobs', pipeline_pipeline_jobs_path(@pipeline), class: 'nav-link' %>
    </li>
  </ul>
<% end %>

<% if @pipeline.harvest.blank? %>

  <div class='row definition-group'>
    <div class='col-12'>
      <button
        type="button"
        class="card card--create-cta d-flex"
        data-bs-toggle="modal"
        data-bs-target="#add-harvest">
        <div class="card-body align-items-center d-flex justify-content-center">
          <p class='card-text'>+ Add harvest</p>
        </div>
      </button>
    </div>
  </div>

<% else %>
  
  <%= render partial: 'pipelines/harvest_definition' %>

<% end %>

<% if @pipeline.enrichments.any? %>

  <% @pipeline.enrichments.each do |enrichment_definition| %>

    <%= render partial: 'pipelines/enrichment_definition', locals: { enrichment_definition: } %>

  <% end %>
<% end %>

<% if @harvest_definition.ready_to_run? %>
  <div class='row definition-group definition-group--spacer'>
    <span class='definition-group__bridge'></span>
    <div class='col-12'>
        <button
          type="button"
          class="<%= class_names(
                       'card', 'card--create-cta', 'd-flex',
                       'card--create-cta-disabled': @completed_harvest_jobs.empty?
                     ) %>"
          <% if @completed_harvest_jobs.empty? %>
            data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-title="You need to run the harvest before you can add an enrichment"
          <% else %>
            data-bs-toggle="modal"
            data-bs-target="#add-enrichment"
          <% end %>>

        <div class="card-body align-items-center d-flex justify-content-center">
          <p class='card-text'>+ Add Enrichment</p>
        </div>
      </button>
    </div>
  </div>
<% end %>

<%# -- Modals -- %>

<%= render layout: 'shared/delete_modal', locals: { path: pipeline_path(@pipeline), heading_text: 'Delete Pipeline' } do %>
  <p>Are you sure you want to delete "<%= @pipeline.name %>"?</p>

  <% @pipeline.harvest_definitions.each do |definition| %>
    <% if definition.extraction_definition.present? %>
      <p><%= definition_delete_text(definition.extraction_definition, 'extraction') %></p>
    <% end %>

    <% if definition.transformation_definition.present? %>
      <p><%= definition_delete_text(definition.transformation_definition, 'transformation') %></p>
    <% end %>
  <% end %>
<% end %>

<%= render layout: 'shared/create_modal',
           locals: { modal_heading: 'Add harvest', id: 'add-harvest',
                     modal_subheading: 'Add a source_id to identify records from this harvest.' } do %>
  <div class='d-grid mt-4'>
    <%= vertical_form_with model: [@pipeline, @harvest_definition] do |form| %>
      <div class='row gy-3 align-items-center'>
        <%= form.hidden_field :pipeline_id, value: @pipeline.id %>
        <%= form.hidden_field :kind, value: 'harvest' %>

        <div class="col-4">
          <%= form.label :source_id, class: 'form-label' do %>
            Source ID
            <span
              data-bs-toggle="tooltip"
              data-bs-title="This is used as a way to identify records from this harvest."><i class="bi bi-question-circle" aria-label="helper text"></i>

          <% end %>
        </div>
        <div class='col-8'>
          <%= form.text_field :source_id,
                              class: {
                                'form-control': true,
                                'is-invalid': @harvest_definition.errors[:source_id].any?
                              } %>
        </div>
      </div>

      <div class='d-grid mt-4'>
        <button type="submit" class="btn btn-primary">Add to pipeline</button>
      </div>
    <% end %>
  </div>
<% end %>

<% if @pipeline.harvest.present? %>
  <%= render layout: 'shared/create_modal',
            locals: { modal_heading: 'Add enrichment', id: 'add-enrichment',
                      modal_subheading: 'Add a source_id to identify records from this enrichment' } do %>
    <div class='d-grid mt-4'>
      <%= vertical_form_with model: [@pipeline, @enrichment_definition] do |form| %>
        <div class='row gy-3 align-items-center'>
          <%= form.hidden_field :pipeline_id, value: @pipeline.id %>
          <%= form.hidden_field :kind, value: 'enrichment' %>
          <%= form.hidden_field :priority, value: @pipeline.harvest_definitions.last.priority - 1 %>

          <div class="col-4">
            <%= form.label :source_id, class: 'form-label' do %>
              Source ID

              <span
                data-bs-toggle="tooltip"
                data-bs-title="This is used as a way to identify records from this enrichment. This needs to be different than the harvest source ID."><i class="bi bi-question-circle" aria-label="helper text"></i>
            <% end %>
          </div>
          <div class='col-8'>
            <%= form.text_field :source_id,
                                class: {
                                  'form-control': true,
                                  'is-invalid': @enrichment_definition.errors[:source_id].any?
                                } %>
          </div>
        </div>

        <div class='d-grid mt-4'>
          <button type="submit" class="btn btn-primary">Add to pipeline</button>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @harvest_definition.persisted? %>
  <%= render(
        layout: 'shared/create_modal',
        locals: {
          modal_heading: 'Add harvest extraction',
          id: 'add-harvest-extraction',
          modal_subheading:
            'A harvest extraction is a set of rules that define how you collect records from a content source'
        }
      ) do %>

    <div class='d-grid mt-4'>
      <input
        id="js-auto-complete-extraction-definition"
        class='js-auto-complete'
        data-src="<%= autocomplete_harvest_extraction_definitions %>"
        data-path="<%= "/pipelines/#{@pipeline.id}/harvest_definitions/#{@harvest_definition.id}.json" %>"
        data-field="extraction_definition_id"
        data-placeholder='Start typing to use an existing definition..'
        data-key='name'>

      <div class='text-center mt-4 mb-4'>
        or
      </div>

      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#create-harvest-extraction-definition-modal">
        + Add a new extraction definition
      </button>
    </div>
  <% end %>

  <%= render(
        layout: 'shared/create_modal',
        locals: {
          modal_heading: 'Add harvest transformation',
          id: 'add-harvest-transformation',
          modal_subheading:
            'A harvest transformation is a set of rules that defines the shape you want your harvested records to have'
        }
      ) do %>
    <div class='d-grid mt-4'>
      <input
        id="js-auto-complete-transformation-definition"
        class='js-auto-complete'
        data-src="<%= autocomplete_harvest_transformation_definitions %>"
        data-placeholder='Start typing to use an existing definition..'
        data-path="<%= "/pipelines/#{@pipeline.id}/harvest_definitions/#{@harvest_definition.id}.json" %>"
        data-field="transformation_definition_id"
        data-key='name'>

      <div class='text-center mt-4 mb-4'>
        or
      </div>

      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#create-harvest-transformation-definition-modal">
        + Add a new transformation definition
      </button>
    </div>
  <% end %>
<% end %>
