<%= content_for(:title) { @pipeline.name_in_database } %>
<%= content_for(:header) do %>
  <%= render "shared/breadcrumb_nav" %>

  <div class='float-start'>
    <h1><%= @pipeline.name %></h1>
    <p><%= @pipeline.description %></p>
  </div>

  <div class="float-end">
    <button
      type="button"
      class="btn btn-primary me-1"
      data-bs-toggle="modal"
      data-bs-target="#run-settings"
    >
      <i class='bi bi-play'></i>
        Run 
    </button>
    
    <%= render layout: 'shared/create-modal', locals: { modal_heading: 'Run Settings', id: 'run-settings' } do %>
      <%= vertical_form_with(model: [@pipeline, @harvest_definition, @harvest_job]) do |form| %>
        <div class='row gy-3 align-items-center'>
          <%= form.hidden_field :harvest_definition_id, value: @harvest_definition.id %>
          <%= form.hidden_field :key, value: SecureRandom.hex %>
          
          <div class='col-5'>
            <%= form.label :harvest_definitions_to_run, "Blocks to run", class: 'form-label' %>
          </div>

          <div class='col-7'>
            <%- @pipeline.harvest_definitions.each do |harvest_definition| %>
              <div class='form-check'>
                <%= label_tag do %>
                  <%= check_box('harvest_job', 'harvest_definitions_to_run', { multiple: true, class: 'form-check-input', checked: true }, harvest_definition.id, nil) %>
                  <%= harvest_definition.source_id %>
                <% end %>
              </div>
            <% end %>
          </div>
          
          <div class="col-5">
            <%= form.label :extraction_job_id, "Transformation input", class: "form-label" %>
          </div>

          <div class='col-7'>
            <%= form.collection_select(:extraction_job_id, @extraction_jobs, :id, :name, { include_blank: 'Fresh extraction' }, class: 'form-select') %>
          </div>
          
          <div class="col-5">
            <%= form.label :page_type, "Pages to transform", class: "form-label" %>
          </div>
          
          <div id='js-pipeline-page-type' class='col-7'>
            <%= form.select :page_type, options_for_select(HarvestJob.page_types.map { |key, value| [key.humanize, key] }), {},  id: 'js-pipeline-page-type-select', class: "form-select" %>
          </div>
          
          <div id='js-pipeline-pages' class='col-3 d-none'>
            <%= form.number_field :pages, class: "form-control" %>
          </div>


          <div class="col-5">
            <%= form.label :destination, "Destination", class: "form-label" %>
          </div>

          <div class='col-7'>
            <%= form.select :destination_id, options_from_collection_for_select(@destinations, 'id', 'name'), {},  class: "form-select" %>
          </div>
        </div>

        <div class='d-grid mt-4'>
          <button type="submit" class="btn btn-primary">Run</button>
        </div>
      <% end %>
    <% end %>

    <%= link_to "Edit",
    edit_pipeline_path(@pipeline),
    class: "me-1 btn btn-outline-primary" %>

    <button
      type="button"
      class="btn btn-danger"
      data-bs-toggle="modal"
      data-bs-target="#delete-modal"
    >Delete</button>
  </div>

  <div class='clearfix'></div>

  <div class='mt-4'></div>
  <ul class="nav nav-tabs">
    <li class='nav-item'>
      <%= link_to "Pipeline", pipeline_path(@pipeline), class: "nav-link active" %>
    </li>

    <li class='nav-item'>
      <%= link_to "Jobs", pipeline_jobs_path(@pipeline), class: "nav-link" %>
    </li>
  </ul>
<% end %>

<% if @pipeline.harvest.blank? %>
  <div class='row definition-group'>
    <div class='col-12'>
      <button
        type="button"
        class="card card--create-cta d-flex"
        data-bs-toggle="modal"
        data-bs-target="#add-harvest"
      >
        <div class="card-body align-items-center d-flex justify-content-center">
          <p class='card-text'>+ Add harvest</p>
        </div>
      </button>
    </div>
  </div>
<% else %>
  <div class='card p-4'>
    <div class='d-flex'>
      <div class='me-auto'>
        <h4><%= @harvest_definition.source_id %> </h4>

        <p><%= definition_help_text(@harvest_definition, 'harvest') %></p>
      </div>

      <div>
        <button
          type="button"
          class="btn btn-outline-primary"
          data-bs-toggle="modal"
          data-bs-target="#edit-harvest"
        >Edit Harvest</button>
      </div>

      <%= render layout: 'shared/create-modal', locals: { modal_heading: 'Edit harvest', id: 'edit-harvest'  } do %>
        <div class='d-grid mt-4'>
          <%= vertical_form_with model: [@pipeline, @harvest_definition] do |form| %>
            <div class='row gy-3 align-items-center'>
              <%= form.hidden_field :pipeline_id, value: @pipeline.id %>
              <%= form.hidden_field :kind, value: "harvest" %>

              <div class="col-4">
                <%= form.label :source_id, "Source ID", class: "form-label" %>
              </div>
              <div class='col-8'>
                <%= form.text_field :source_id,
                                class: {
                                  "form-control": true,
                                  "is-invalid": @harvest_definition.errors[:source_id].any?
                                } %>
              </div>
            </div>

            <div class='d-grid mt-4'>
              <button type="submit" class="btn btn-primary">Update harvest</button>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <input
      type='hidden'
      value="<%= @pipeline.id %>"
      name='pipeline_id'
      id='js-pipeline-id'
    />
    <input
      type='hidden'
      value="<%= @pipeline.harvest.id %>"
      name='harvest_id'
      id='js-harvest-definition-id'
    />

    <div class='row'>
      <div class='col-6'>
        <% if @harvest_definition.extraction_definition.present? %>

          <%= render partial: "pipelines/card",
          locals: {
            pipeline: @pipeline,
            position: "first",
            definition: @harvest_definition,
            type: 'extraction',
            edit_path:
              pipeline_harvest_definition_extraction_definition_path(
                @harvest_definition.extraction_definition.pipeline,
                @harvest_definition,
                @harvest_definition.extraction_definition,
                referrer_id: @pipeline.id
              ),
            edit_text: "Edit Extraction",
            jobs_path: 
              pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
                @harvest_definition.extraction_definition.pipeline,
                @harvest_definition,
                @harvest_definition.extraction_definition
              ),
            run_sample_extraction_path: 
              pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
                @harvest_definition.extraction_definition.pipeline, 
                @harvest_definition,
                @harvest_definition.extraction_definition, 
                kind: :sample
              ),
            run_full_extraction_path: 
              pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
                @harvest_definition.extraction_definition.pipeline, 
                @harvest_definition,
                @harvest_definition.extraction_definition, 
                kind: :full
              )
          } %>

        <% else %>
          <button
            type="button"
            class="card card--create-cta d-flex"
            data-bs-toggle="modal"
            data-bs-target="#add-harvest-extraction"
          >
            <div class="card-body align-items-center d-flex justify-content-center">
              <p class='card-text'>+ Add harvest extraction</p>
            </div>
            <i class="bi bi-arrow-right card__right-arrow"></i>
          </button>
        <% end %>
      </div>

      <div class='col-6'>
        <% if @harvest_definition.transformation_definition.present? %>

          <%= render partial: "pipelines/card",
          locals: {
            pipeline: @pipeline,
            definition: @harvest_definition,
            type: 'transformation',
            position: "last",
            edit_path:
              pipeline_harvest_definition_transformation_definition_path(
                @harvest_definition.transformation_definition.pipeline,
                @harvest_definition,
                @harvest_definition.transformation_definition,
                referrer_id: @pipeline.id
              ),
            edit_text: "Edit Transformation",
            jobs_path: ''
          } %>

        <% else %>
          <button
            type="button"
            class="<%= class_names('card', 'card--create-cta', 'd-flex', 'card--create-cta-disabled': !@harvest_definition&.extraction_definition&.extraction_jobs&.any?(&:completed?)) %>"

            <% if @harvest_definition&.extraction_definition&.extraction_jobs&.any?(&:completed?) %>
              data-bs-toggle="modal"
              data-bs-target="#add-harvest-transformation"
            <% end %>
          >
            <div class="card-body align-items-center d-flex justify-content-center">
              <p class="card-text">+ Add harvest transformation</p>
            </div>
          </button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @pipeline.enrichments.any? %>
  <% @pipeline.enrichments.each do |enrichment_definition| %>

    <div class='card p-4 definition-group--spacer'>
      <span class='definition-group__bridge'></span>

      <div class='d-flex'>
        <div class='me-auto'>
          <h4><%= enrichment_definition.source_id %> | <%= enrichment_definition.priority %></h4>
          <p><%= definition_help_text(enrichment_definition, 'enrichment') %></p>
        </div>

        <div>
          <button
            type="button"
            class="btn btn-outline-primary"
            data-bs-toggle="modal"
            data-bs-target=<%= "#edit-enrichment-#{enrichment_definition.id}" %>
          >Edit Enrichment</button>
        </div>

        <%= render layout: 'shared/create-modal', locals: { modal_heading: 'Edit enrichment', id: "edit-enrichment-#{enrichment_definition.id}"  } do %>
          <div class='d-grid mt-4'>
            <%= vertical_form_with model: [@pipeline, enrichment_definition] do |form| %>
              <div class='row gy-3 align-items-center'>
                <%= form.hidden_field :pipeline_id, value: @pipeline.id %>
                <%= form.hidden_field :kind, value: "enrichment" %>

                <div class="col-4">
                  <%= form.label :source_id, "Source ID", class: "form-label" %>
                </div>
                <div class='col-8'>
                  <%= form.text_field :source_id,
                                  class: {
                                    "form-control": true,
                                    "is-invalid": enrichment_definition.errors[:source_id].any?
                                  } %>
                </div>

                <div class="col-4">
                  <%= form.label :priority, "Priority", class: "form-label" %>
                </div>
                <div class='col-8'>
                  <%= form.text_field :priority,
                                  class: {
                                    "form-control": true,
                                    "is-invalid": enrichment_definition.errors[:priority].any?
                                  } %>
                </div>
              </div>

              <div class='d-grid mt-4'>
                <button type="submit" class="btn btn-primary">Update enrichment</button>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class='row'>
        <div class='col-6'>
          <% if enrichment_definition.extraction_definition.present? %>

          <%= render partial: "pipelines/card",
            locals: {
              definition: enrichment_definition,
              type: 'extraction',
              position: "first",
              pipeline: @pipeline,
              edit_path:
                edit_pipeline_harvest_definition_extraction_definition_path(
                  enrichment_definition.extraction_definition.pipeline,
                  enrichment_definition,
                  enrichment_definition.extraction_definition,
                  referrer_id: @pipeline.id
                ),
              edit_text: "Edit Extraction",
              jobs_path: 
                pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
                  enrichment_definition.extraction_definition.pipeline,
                  enrichment_definition,
                  enrichment_definition.extraction_definition
                ),
              run_sample_extraction_path: 
                pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
                  enrichment_definition.extraction_definition.pipeline, 
                  enrichment_definition,
                  enrichment_definition.extraction_definition, 
                  kind: :sample
                ),
              run_full_extraction_path: 
                pipeline_harvest_definition_extraction_definition_extraction_jobs_path(
                  enrichment_definition.extraction_definition.pipeline, 
                  enrichment_definition,
                  enrichment_definition.extraction_definition, 
                  kind: :full
                )
            } %>

          <% else %>

            <button
              type="button"
              class="card card--create-cta d-flex"
              data-bs-toggle="modal"
              data-bs-target="#add-enrichment-extraction-<%= enrichment_definition.id %>"
            >
              <div class="card-body d-flex align-items-center justify-content-center">
                <p class='card-text'>+ Add enrichment extraction</p>
              </div>
              <i class="bi bi-arrow-right card__right-arrow"></i>
            </button>

            <%= render layout: 'shared/create-modal', locals: { modal_heading: 'Add enrichment extraction', id: "add-enrichment-extraction-#{enrichment_definition.id}", modal_subheading: 'An enrichment extraction is a set of rules that define how you collect records from a content source' } do %>

              <div class='d-grid mt-4'>
                <input
                  id="js-auto-complete-enrichment-extraction-definition-<%= enrichment_definition.id %>"
                  class='js-auto-complete'
                  data-src="<%= autocomplete_enrichment_extraction_definitions %>"
                  data-path="<%= "/pipelines/#{@pipeline.id}/harvest_definitions/#{enrichment_definition.id}.json" %>"
                  data-field="extraction_definition_id"
                  data-placeholder='Start typing to use an existing definition..'
                  data-key='name'
                >

                <div class='text-center mt-4 mb-4'>
                  or
                </div>

                <%= link_to "+ Add new extraction definition",
                new_pipeline_harvest_definition_extraction_definition_path(
                  @pipeline,
                  enrichment_definition,
                  kind: "enrichment"
                ),
                class: "btn btn-primary" %>

              </div>
            <% end %>
          <% end %>
        </div>

        <div class='col-6'>
          <% if enrichment_definition.transformation_definition.present? %>

          <%= render partial: "pipelines/card",
            locals: {
              definition: enrichment_definition,
              type: 'transformation',
              position: "last",
              pipeline: @pipeline,
              edit_path:
                pipeline_harvest_definition_transformation_definition_path(
                  enrichment_definition.transformation_definition.pipeline,
                  @harvest_definition,
                  enrichment_definition.transformation_definition,
                  referrer_id: @pipeline.id
                ),
              edit_text: "Edit Transformation",
              jobs_path: ''
            } %>

          <% else %>
            <button
              type="button"
              class="card mb-3 card--create-cta d-flex"
              data-bs-toggle="modal"
              data-bs-target="#add-enrichment-transformation-<%= enrichment_definition.id %>"
            >
              <div class="card-body d-flex align-items-center justify-content-center d-flex">
                <p class="card-text">+ Add enrichment transformation</p>
              </div>
            </button>

            <%= render layout: 'shared/create-modal', locals: { modal_heading: 'Add enrichment transformation', id: "add-enrichment-transformation-#{enrichment_definition.id}", modal_subheading: 'An enrichment transformation is a set of rules that defines the shape you want your enriched fragments to have' } do %>
              <div class='d-grid mt-4'>
                <input
                  id="js-auto-complete-enrichment-transformation-definition-<%= enrichment_definition.id %>"
                  class='js-auto-complete'
                  data-src="<%= autocomplete_enrichment_transformation_definitions %>"
                  data-placeholder='Start typing to use an existing definition..'
                  data-path="<%= "/pipelines/#{@pipeline.id}/harvest_definitions/#{enrichment_definition.id}.json" %>"
                  data-field="transformation_definition_id"
                  data-key='name'
                >

                <div class='text-center mt-4 mb-4'>
                  or
                </div>

                <%= link_to "+ Add new transformation definition",
                new_pipeline_harvest_definition_transformation_definition_path(
                  @pipeline,
                  enrichment_definition,
                  kind: "enrichment"
                ),
                class: "btn btn-primary" %>

              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class='row definition-group definition-group--spacer'>
  <span class='definition-group__bridge'></span>
  <div class='col-12'>
    <button
      type="button"
      class="card card--create-cta d-flex"
      data-bs-toggle="modal"
      data-bs-target="#add-enrichment"
    >
      <div class="card-body align-items-center d-flex justify-content-center">
        <p class='card-text'>+ Add Enrichment</p>
      </div>
    </button>
  </div>
</div>

<%# -- Modals -- %>

<%= render layout: 'shared/delete-modal', locals: { path: pipeline_path(@pipeline) } do %>
  Are you sure you want to delete "<%= @pipeline.name %>"?
<% end %>

<%= render layout: 'shared/create-modal', locals: { modal_heading: 'Add harvest', id: 'add-harvest', modal_subheading: 'Add a source_id to identify records from this harvest.' } do %>
  <div class='d-grid mt-4'>
    <%= vertical_form_with model: [@pipeline, @harvest_definition] do |form| %>
      <div class='row gy-3 align-items-center'>
        <%= form.hidden_field :pipeline_id, value: @pipeline.id %>
        <%= form.hidden_field :kind, value: "harvest" %>

        <div class="col-4">
          <%= form.label :source_id, "Source ID", class: "form-label" %>
        </div>
        <div class='col-8'>
          <%= form.text_field :source_id,
                          class: {
                            "form-control": true,
                            "is-invalid": @harvest_definition.errors[:source_id].any?
                          } %>
        </div>
      </div>

      <div class='d-grid mt-4'>
        <button type="submit" class="btn btn-primary">Add to pipeline</button>
      </div>
    <% end %>
  </div>
<% end %>

<%= render layout: 'shared/create-modal', locals: { modal_heading: 'Add enrichment', id: 'add-enrichment', modal_subheading: 'Add a source_id to identify records from this enrichment'  } do %>
  <div class='d-grid mt-4'>
    <%= vertical_form_with model: [@pipeline, @enrichment_definition] do |form| %>
      <div class='row gy-3 align-items-center'>
        <%= form.hidden_field :pipeline_id, value: @pipeline.id %>
        <%= form.hidden_field :kind, value: "enrichment" %>

        <div class="col-4">
          <%= form.label :source_id, "Source ID", class: "form-label" %>
        </div>
        <div class='col-8'>
          <%= form.text_field :source_id,
                          class: {
                            "form-control": true,
                            "is-invalid": @enrichment_definition.errors[:source_id].any?
                          } %>
        </div>

        <div class="col-4">
          <%= form.label :priority, "Priority", class: "form-label" %>
        </div>
        <div class='col-8'>
          <%= form.number_field :priority,
                            class: {
                              "form-control": true,
                              "is-invalid": @enrichment_definition.errors[:priority].any?
                            } %>
        </div>
      </div>

      <div class='d-grid mt-4'>
        <button type="submit" class="btn btn-primary">Add to pipeline</button>
      </div>
    <% end %>
  </div>
<% end %>

<% if @harvest_definition.persisted? %>
  <%= render layout: 'shared/create-modal', locals: { modal_heading: 'Add harvest extraction', id: 'add-harvest-extraction', modal_subheading: 'A harvest extraction is a set of rules that define how you collect records from a content source' } do %>

    <div class='d-grid mt-4'>
      <input
        id="js-auto-complete-extraction-definition"
        class='js-auto-complete'
        data-src="<%= autocomplete_harvest_extraction_definitions %>"
        data-path="<%= "/pipelines/#{@pipeline.id}/harvest_definitions/#{@harvest_definition.id}.json" %>"
        data-field="extraction_definition_id"
        data-placeholder='Start typing to use an existing definition..'
        data-key='name'
      >

      <div class='text-center mt-4 mb-4'>
        or
      </div>

      <%= link_to "+ Add new extraction definition",
      new_pipeline_harvest_definition_extraction_definition_path(
        @pipeline,
        @harvest_definition,
        kind: "harvest"
      ),
      class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render layout: 'shared/create-modal', locals: { modal_heading: 'Add harvest transformation', id: 'add-harvest-transformation', modal_subheading: 'A harvest transformation is a set of rules that defines the shape you want your harvested records to have' } do %>
    <div class='d-grid mt-4'>
      <input
        id="js-auto-complete-transformation-definition"
        class='js-auto-complete'
        data-src="<%= autocomplete_harvest_transformation_definitions %>"
        data-placeholder='Start typing to use an existing definition..'
        data-path="<%= "/pipelines/#{@pipeline.id}/harvest_definitions/#{@harvest_definition.id}.json" %>"
        data-field="transformation_definition_id"
        data-key='name'
      >

      <div class='text-center mt-4 mb-4'>
        or
      </div>

      <%= link_to "+ Add new transformation definition",
      new_pipeline_harvest_definition_transformation_definition_path(
        @pipeline,
        @harvest_definition,
        kind: "harvest"
      ),
      class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

