<%= content_for(:title) { "#{@harvest_definition.name} job" } %>
<%= render 'shared/breadcrumb_nav' %>

<div class="float-start">
  <h1><%= @harvest_job.harvest_definition.name %></h1>
  <strong><%= @harvest_job.updated_at.to_fs(:verbose) %></strong>
</div>

<div class="clearfix"></div>

<% if @harvest_job.extraction_job.present? %>
  <table class="table my-4">
    <tbody>
      <tr>
        <th scope="row">Extraction Status</th>
        <td><%= job_status_text(@harvest_job.extraction_job) %></td>
      </tr>

      <tr>
        <th scope="row">Extraction Start Time</th>
        <td><%= job_start_time(@harvest_job.extraction_job) %></td>
      </tr>

      <tr>
        <th scope="row">Extraction End Time</th>
        <td><%= job_end_time(@harvest_job.extraction_job) %></td>
      </tr>

      <tr>
        <th scope="row">Extraction Duration</th>
        <td><%= job_duration(@harvest_job.extraction_job) %></td>
      </tr>

      <tr>
        <th scope="row">Estimated Records Extracted</th>
        <td>
          <%=
          @harvest_job.extraction_definition.per_page * @harvest_job.extraction_job.documents.total_pages
          %>
        </td>
      </tr>

      <tr>
        <th scope="row"></th>
        <td>
          <% path = content_partner_extraction_definition_extraction_job_path(@content_partner, @harvest_job.extraction_definition, @harvest_job.extraction_job) %>
          <%= link_to "View Extraction Results", path, class: "btn btn-outline-primary" %>
        </td>
      </tr>

      <% @harvest_job.transformation_jobs.each do |transformation_job| %>
        <tr>
          <th scope="row">Transformation Page</th>
          <td>
            <%= transformation_job.page %>
          </td>
        </tr>

        <tr>
          <th scope="row">Start Time</th>
          <td>
            <%= job_start_time(transformation_job) %>
          </td>
        </tr>
        
        <tr>
          <th scope="row">End Time</th>
          <td>
            <%= job_end_time(transformation_job) %>
          </td>
        </tr>

        <tr>
          <th scope="row">Duration</th>
          <td>
            <%= job_duration(transformation_job) %>
          </td>
        </tr>
        
        <tr>
          <th scope="row">Status</th>
          <td>
            <%= job_status_text(transformation_job) %>
          </td>
        </tr>
        
        <tr>
          <th scope="row">Records Transformed</th>
          <td>
            <%= transformation_job.records_transformed %>
          </td>
        </tr>
      <% end %>

      <tr>
        <th scope="row">Load Destination</th>
        <td><%= @harvest_job.harvest_definition.destination.url %></td>
      </tr>
      
      <% @harvest_job.load_jobs.each do |load_job| %>
        <tr>
          <th scope="row">Load Page</th>
          <td>
            <%= load_job.page %>
          </td>
        </tr>

        <tr>
          <th scope="row">Start Time</th>
          <td>
            <%= job_start_time(load_job) %>
          </td>
        </tr>
        
        <tr>
          <th scope="row">End Time</th>
          <td>
            <%= job_end_time(load_job) %>
          </td>
        </tr>

        <tr>
          <th scope="row">Duration</th>
          <td>
            <%= job_duration(load_job) %>
          </td>
        </tr>
        
        <tr>
          <th scope="row">Status</th>
          <td>
            <%= job_status_text(load_job) %>
          </td>
        </tr>
        
        <tr>
          <th scope="row">Records Loaded</th>
          <td>
            <%= load_job.records_loaded %>
          </td>
        </tr>
      <% end %>
      
      <tr>
        <th scope="row">Total Time</th>
        <td><%= job_duration(@harvest_job) %></td>
      </tr>
      
      <tr>
        <th scope="row">Total Records Transformed</th>
        <td><%= @harvest_job.transformation_jobs.sum(:records_transformed) %></td>
      </tr>
      
      <tr>
        <th scope="row">Total Records Loaded</th>
        <td><%= @harvest_job.load_jobs.sum(:records_loaded) %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p class="my-4">The job hasn't started yet.</p>
<% end %>
