<%= content_for(:title) { "Editing #{@destination.name_in_database}" } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title"><%= @destination.name_in_database %></h1>

  <div class="clearfix">
<% end %>

<%= render 'form' %>
