<%= content_for(:title) { "Editing #{@destination.name_in_database}" } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title"><%= @destination.name_in_database %></h1>

  <div class="float-end">
    <button type="button" class="btn btn-outline-primary me-1" id="js-test-destination-button">
      Test
    </button>

    <button type="submit" class="btn btn-primary" data-form="js-destination-form">
      Update
    </button>
  </div>

  <div class="clearfix">
<% end %>

<%= render 'form' %>
