<%= content_for(:title) { 'Destinations' } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title">Destinations</h1>

  <div class="header__actions">
    <%= link_to new_destination_path, class: 'btn btn-primary' do %>
      <i class="bi bi-plus" aria-hidden="true"></i> Add new destination
    <% end %>
  </div>

  <div class="clearfix"></div>
<% end %>

<%- if @destinations.any? %>
  <div class='row'>
    <%- @destinations.each do |destination| %>
      <div class='col-3'>
        <%= link_to destination, class: 'card mb-3' do %>
          <div class='card-body'>
              <h5 class='card-title'><%= destination.name %></h5>
          </div>
        <% end %>
      </div>
    <%- end %>
  </div>

  <%= render 'shared/pagination_below_table', items: @destinations %>
<% else %>
  <p>There are currently no destinations.</p>
<% end %>
