<%= content_for(:title) { @destination.name_in_database } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="float-start mb-4"><%= @destination.name_in_database %></h1>

  <div class='float-end'>
    <%= link_to 'Edit destination', edit_destination_path(@destination), class: 'btn btn-outline-primary' %>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</button>
  </div>

  <div class="clearfix"></div>
<% end %>

<h5>URL</h5>

<p><%= @destination.url %></p>

<h5>API Key</h5>

<p><%= @destination.api_key %></p>


<%# Modal %>
<%= render layout: 'shared/delete-modal', locals: { path: destination_path(@destination) } do %>
  Are you sure you want to delete "<%= @destination.name %>"?
<% end %>
