<%= content_for(:title) { "Editing #{@content_partner.name_in_database}" } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="float-start"><%= @content_partner.name_in_database %></h1>

  <div class="clearfix"></div>
<% end %>

<%= render 'form' %>
