<%= render 'shared/breadcrumb_nav' %>

<h1 class="float-start">Content Partners</h1>

<%= link_to 'Add a new Content Partner', new_content_partner_path, class: 'btn btn-primary float-end' %>

<div class="clearfix"></div>

<div class="mt-3"></div>

<%- if @content_partners.any? %>
  <%- @content_partners.each do |content_partner| %>
    <div class="border p-3 my-2">
      <span class="float-start">
        <%= content_partner.name %>
      </span>

      <%= link_to "Details", content_partner, class: "btn btn-outline-primary float-end" %>

      <div class="clearfix"></div>
    </div>
  <%- end %>

  <%= render 'shared/pagination_below_table', items: @content_partners %>
<% else %>
  <p>There are currently no content partners.</p>
<% end %>
