<%= content_for(:title) { @content_partner.name_in_database } %>

<%= render 'shared/breadcrumb_nav' %>

<h1 class="float-start mb-4"><%= @content_partner.name_in_database %></h1>

<%= link_to 'Edit content partner', edit_content_partner_path(@content_partner), class: 'btn btn-outline-primary float-end' %>

<div class="clearfix"></div>

<h2 class="float-start">Extraction Definitions</h2>

<%= link_to new_content_partner_extraction_definition_path(@content_partner, kind: 'harvest'), class: 'btn btn-primary float-end' do %>
  <%= bootstrap_icon('plus-circle') %>Add new Extraction Definition
<% end %>

<div class="clearfix"></div>

<%- if @harvest_extraction_definitions.any? %>
<%- @harvest_extraction_definitions.each do |extraction_definition| %>
    <div class="border p-3 my-2">
      <span class="float-start">
        <%= extraction_definition.name %>
      </span>

      <%= link_to "Details", content_partner_extraction_definition_path(@content_partner, extraction_definition), class: "btn btn-outline-primary float-end" %>

      <div class="clearfix"></div>
    </div>
  <%- end %>

<%= render 'shared/pagination_below_table', items: @harvest_extraction_definitions %>
<% else %>
  <p>There are currently no extraction definitions for <%= @content_partner.name_in_database %>.</p>
<% end %>

<h2 class="float-start">Transformation Definitions</h2>

<%= link_to new_content_partner_transformation_definition_path(@content_partner), class: 'btn btn-primary float-end' do %>
  <%= bootstrap_icon('plus-circle') %>Add new Transformation Definition
<% end %>

<div class="clearfix"></div>

<%- if @transformation_definitions.any? %>
  <%- @transformation_definitions.each do |transformation_definition| %>
    <div class="border p-3 my-2">
      <span class="float-start">
        <%= transformation_definition.name %>
      </span>

      <%= link_to "Details", content_partner_transformation_definition_path(@content_partner, transformation_definition), class: "btn btn-outline-primary float-end" %>

      <div class="clearfix"></div>
    </div>
  <%- end %>

  <%= render 'shared/pagination_below_table', items: @transformation_definitions %>
<% else %>
  <p>There are currently no transformation definitions for <%= @content_partner.name_in_database %>.</p>
<% end %>


<h2 class="float-start">Harvest Definitions</h2>

<%= link_to new_content_partner_harvest_definition_path(@content_partner), class: 'btn btn-primary float-end' do %>
  <%= bootstrap_icon('plus-circle') %>Add new Harvest Definition
<% end %>

<div class="clearfix"></div>

<%- if @harvest_definitions.any? %>
  <%- @harvest_definitions.each do |harvest_definition| %>
    <div class="border p-3 my-2">
      <span class="float-start">
        <%= harvest_definition.name %>
      </span>

      <%= link_to "Details", content_partner_harvest_definition_path(@content_partner, harvest_definition), class: "btn btn-outline-primary float-end" %>

      <div class="clearfix"></div>
    </div>
  <%- end %>

  <%= render 'shared/pagination_below_table', items: @harvest_definitions %>
<% else %>
  <p>There are currently no harvest definitions for <%= @content_partner.name_in_database %>.</p>
<% end %>

<h2 class="float-start">Enrichment Extraction Definitions</h2>

<%= link_to new_content_partner_extraction_definition_path(@content_partner, kind: 'enrichment'), class: 'btn btn-primary float-end' do %>
  <%= bootstrap_icon('plus-circle') %>Add new Enrichment Extraction Definition
<% end %>

<div class="clearfix"></div>


<%- if @enrichment_extraction_definitions.any? %>
  <%- @enrichment_extraction_definitions.each do |extraction_definition| %>
    <div class="border p-3 my-2">
      <span class="float-start">
        <%= extraction_definition.name %>
      </span>

      <%= link_to "Details", content_partner_extraction_definition_path(@content_partner, extraction_definition), class: "btn btn-outline-primary float-end" %>

      <div class="clearfix"></div>
    </div>
  <%- end %>

<%= render 'shared/pagination_below_table', items: @enrichment_extraction_definitions %>

<% else %>
  <p>There are currently no enrichment extraction definitions for <%= @content_partner.name_in_database %>.</p>
<% end %>


