<%= vertical_form_with model: [@pipeline, @harvest_definition, @transformation_definition], id: 'js-transformation-definition-form' do |form| %>
  <%= form.hidden_field :pipeline_id,        value: @pipeline.id %>
  <%= hidden_field :harvest_definition_id,   value: @harvest_definition.id %>
  <%= form.hidden_field :kind,               value: @transformation_definition.kind %>

  <div class='card'>
    <div class='card-body'>

      <div class="row gy-3 align-items-center">
        <% if @transformation_definition.name.present? %>
          <div class="col-3">
            <%= form.label :name, 'Name', class: "form-label" %>
          </div>
          <div class='col-9'>
            <%= form.text_field :name, class: "form-control" %>
          </div>
        <% end %>

        <div class='col-3'>
          <%= form.label :extraction_job_id, 'Preview Records', class: "form-label" %>
        </div>

        <div class='col-9'>
          <%= form.select(:extraction_job_id, grouped_options_for_select(@extraction_jobs, @transformation_definition.extraction_job_id), {}, class: 'form-select') %>
        </div>

        <div class="col-3">
          <%= form.label :record_selector, 'Record Selector', class: "form-label" %>
        </div>

        <div class='col-9'>
          <%= form.text_field :record_selector, class: "form-control" %>
        </div>
      </div>

    </div>
  </div>

<% end %>

<div class='record-view mt-4'>
  <div id="js-record-selector-result"></div>
</div>
