<%= content_for(:title) { 'Edit Transformation' } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class='float-start'>Edit Transformation</h1>
  
  <div class="float-end">

    <button type="button" class="btn btn-secondary me-1" id="js-test-transformation-record-selector">
      Test Record Selector
    </button>

    <button type="submit" id='js-transformation-definition-form-submit' class="btn btn-primary">
      Update <%= @transformation_definition.kind %> transformation
    </button>

    <%= link_to 'Cancel', content_source_transformation_definition_path(@content_source, @transformation_definition), class: 'btn btn-outline-danger' %>
  </div>

  <div class='clearfix'></div>
<% end %>

<%= render 'form' %>
