<%= content_for(:title) { 'New Transformation' } %>

<%= content_for :header do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class="header__title">New <%= @transformation_definition.kind.capitalize %> Transformation</h1>
<% end %>

<%= render 'form' %>
