<%= content_for(:title) { @transformation_definition.name_in_database } %>

<%= content_for(:header) do %>
  <%= render 'shared/breadcrumb_nav' %>

  <h1 class='header__title'><%= @transformation_definition.name %></h1>

  <div class="header__actions">
    <span id="react-header-actions"></span>

    <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#update-transformation-definition-modal">
      <i class="bi bi bi-sliders2" aria-hidden="true"></i> Settings
    </button>

    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
      <i class="bi bi-trash" aria-hidden="true"></i> Delete
    </button>
  </div>

  <div class="clearfix"></div>

  <span id='react-nav-tabs'></span>
<% end %>

<% if @transformation_definition.extraction_job.present? && (@transformation_definition.extraction_job.completed? || @transformation_definition.extraction_job.cancelled?) %>
  <div id="js-transformation-app" data-props="<%= @props %>"></div>
<% elsif @transformation_definition.extraction_job.present? %>
  <div class="container">
    <div class="row">
      <div class="col text-center">
          <p class='text-center'>Waiting for extraction to run. Please wait a minute and refresh the page.</p>
          <%= link_to '', class: 'btn btn-outline-primary' do %>
            <i class="bi bi-arrow-repeat" aria-hidden="true"></i> Refresh
          <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class='text-center'>There is no available extracted data.</p>
      </div>
    </div>
  </div>
<% end %>

<%= render 'transformation_definitions/create_edit_modal',
           {
             id: 'update-transformation-definition-modal',
             model: @transformation_definition,
             modal_heading: 'Edit transformation definition',
             modal_subheading: 'Define the settings for your transformation definition',
             confirmation_button_text: 'Update transformation definition',
             extraction_jobs: @extraction_jobs,
             harvest_definition: @harvest_definition
           } %>

<%# Modals %>
<%= render layout: 'shared/delete_modal',
           locals: { path: pipeline_harvest_definition_transformation_definition_path(@pipeline, @harvest_definition,
                                                                                      @transformation_definition) } do %>
  Are you sure you want to delete "<%= @transformation_definition.name %>"?
<% end %>
